# Data Analysis
Ashley Feiler, aef56@pitt.edu

## Imports

In [1]:
import pickle
import glob
import nltk
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Sharable Data Samples

### Original Data

In [3]:
directory = '/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/'

share_files = glob.glob(directory + 'genre_share/*.pkl')
print(len(share_files))
share_files

8

In [12]:
share_df = pd.DataFrame()

for pkl in share_files:
    f = open(pkl, 'rb')  
    df = pickle.load(f)     
    f.close()  
    share_df = pd.concat([share_df, df])
    
share_df.info()

In [24]:
genre_samples = share_df.sample(5)
genre_samples

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
3,254f6270f43e504826a2cbac6ea93791,17835181,0dfb68d65a67d55e3377641d6cdc1027,3,3.5 stars \n I enjoyed this book.. Fun read.,Thu Dec 26 15:05:48 -0800 2013,Tue Jan 14 16:01:05 -0800 2014,Sat Dec 28 00:00:00 -0800 2013,Fri Dec 27 00:00:00 -0800 2013,0,0
4,dd9785b14664103617304996541ed77a,30174220,e6b777d2c3e4d9422d47e62c6cd4d0b4,4,The White Rose (The Chronicle of the Black Com...,Thu May 12 01:12:58 -0700 2016,Thu May 12 02:17:26 -0700 2016,Thu May 12 07:03:52 -0700 2016,,8,0
4,aa4f9e89eb620f856ad3b5e7460f2513,22489107,43cbf07734b4452555012d4b63ccaeaf,4,Levana be cray! \n 4 stars!,Sun Feb 01 11:51:30 -0800 2015,Tue Feb 10 22:05:13 -0800 2015,Sun Feb 01 00:00:00 -0800 2015,Sun Feb 01 00:00:00 -0800 2015,1,0
3,4ea9e5a75b08baca598243e151044a9b,26194630,7030014a96828e095eb7a34fb583067b,5,4.5 stars!,Tue Oct 27 11:46:15 -0700 2015,Sat Oct 31 22:42:23 -0700 2015,Sun Nov 01 06:08:01 -0800 2015,Tue Oct 27 00:00:00 -0700 2015,2,0
1,b9106e7a3b27ede55ea0fec6c9fab739,10836585,005ebd3d0e38d3ceb5acd96b8ad94258,4,I wanted to give this book 5 stars before I ev...,Tue Nov 22 11:16:11 -0800 2011,Tue Nov 22 11:41:27 -0800 2011,Tue Nov 22 00:00:00 -0800 2011,,2,1

Save as CSV to data_samples folder

In [ ]:
genre_samples.to_csv('data_samples/Genre_Samples.csv')
#Overwriting old CSV file by using same name

### Condensed Data

In [26]:
genre_files = glob.glob(directory + 'genre_pkls/*.pkl')
print(len(genre_files))
genre_files

8

['/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/genre_pkls/children_short.pkl',
 '/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/genre_pkls/history_short.pkl',
 '/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/genre_pkls/comics_short.pkl',
 '/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/genre_pkls/mystery_short.pkl',
 '/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/genre_pkls/fantasy_short.pkl',
 '/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/genre_pkls/romance_short.pkl',
 '/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/genre_pkls/ya_short.pkl',
 '/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/genre_pkls/poetry_short.pkl']

In [27]:
total_df = pd.DataFrame()

for pkl in genre_files:
    f = open(pkl, 'rb')  
    df = pickle.load(f)     
    f.close()  
    total_df = pd.concat([total_df, df])
    
total_df.info()

In [32]:
total_sample = total_df.sample(5)
total_sample

,Text,Rating,Title,Author,Category,Genres,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
14,This is an expertly written account of Alison ...,4,Fun Home: A Family Tragicomic,Alison Bechdel,comics_graphic,"{'comics, graphic': 9610, 'non-fiction': 2185,...",en-US,232,2007,4.11,31965,13f4923fe7bd4101afd0560afe08ef85
2821,"Absolute stinker. \n Page 38 of Kindle, first ...",1,"Conspiracy (Ptorix Empire, #1; The Iron Admira...",Greta van der Rol,romance,"{'romance': 31, 'fiction': 18, 'fantasy, paran...",eng,,2011,3.64,109,c3ebe8271c11f3c5445775514471cb00
3983,4 stars for Talking to the Moon by Jeannine Co...,4,Because Beards,Alexis Alvarez,romance,"{'romance': 14, 'mystery, thriller, crime': 1}",eng,401,2016,4.55,290,957f3016315509075b8fff7dd7e3602f
1650,Is there anyone who doesn't love all things Wi...,5,Winnie: The True Story of the Bear Who Inspire...,Sally M. Walker,children,"{'non-fiction': 348, 'history, historical fict...",eng,40,2015,4.30,1991,28c69b71bb90938d34f068af74250882
3499,Jack and Lucy... such a pair. The pair are fro...,4,"The White Fox (The Seven Stars, #1)",James Bartholomeusz,ya,"{'fantasy, paranormal': 15, 'young-adult': 10,...",en-GB,472,2011,3.12,80,1d0f921d2883ac8390e279b64576542c

Save as CSV to data_samples folder

In [ ]:
total_sample.to_csv('data_samples/FinalDF_Sample.csv')

## Final Data Exploration

In [67]:
total_df = total_df[['Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count']]

In [68]:
total_df

,Text,Rating,Title,Author,Category,Genres,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count
0,O,0,Xander's Panda Party,Linda Sue Park,children,"{'children': 143, 'fiction': 15, 'poetry': 9, ...",eng,40,2013,4.05,1163
1,my pick for the caldecott so far...,5,Xander's Panda Party,Linda Sue Park,children,"{'children': 143, 'fiction': 15, 'poetry': 9, ...",eng,40,2013,4.05,1163
3,This time Dan and Amy go to the Bahamas and Ja...,4,"Storm Warning (The 39 Clues, #9)",Linda Sue Park,children,"{'mystery, thriller, crime': 188, 'young-adult...",eng,190,2010,3.98,39904
4,"Loved the excerpts where Julia, the main chara...",5,Project Mulberry,Linda Sue Park,children,"{'fiction': 122, 'children': 111, 'young-adult...",eng,240,2007,3.67,2929
5,"I liked the illustrations, which are are - wel...",4,A Moon of My Own,Jennifer Rustgi,children,"{'children': 13, 'young-adult': 2, 'non-fictio...",eng,32,2016,3.78,84
...,...,...,...,...,...,...,...,...,...,...,...
4984,i'm a bit overwhelmed because did i write thes...,4,;,x q,poetry,"{'poetry': 174, 'fiction': 3, 'young-adult': 1...",eng,133,2013,3.89,460
4987,Terry's cycle of poems about childhood memorie...,4,Waxwings,Daniel Nathan Terry,poetry,{'poetry': 5},en-US,68,2012,4.61,15
4989,"Moving and rich. Contains none of the stodgy, ...",4,Horses Where the Answers Should Have Been: New...,Chase Twichell,poetry,{'poetry': 21},eng,200,2010,4.09,56
4994,Loved it! THe man Mandela is so inspiring. I w...,5,Invictus,William Ernest Henley,poetry,"{'poetry': 59, 'history, historical fiction, b...",eng,199,2010,4.57,416
4998,I have reviewed this book for Rain Taxi and wi...,4,"Odd Beauty, Strange Fruit: Poems",Susan Swartwout,poetry,{'poetry': 6},eng,95,2015,4.22,5

In [69]:
total_df.Category.value_counts()

ya                        4334
fantasy_paranormal        4323
romance                   3918
mystery_thriller_crime    3789
comics_graphic            3505
history_bio               3362
children                  2858
poetry                    2185
Name: Category, dtype: int64

In [70]:
total_df.Rating.value_counts()

5    9941
4    9593
3    5356
2    1807
0     894
1     683
Name: Rating, dtype: int64

In [71]:
len(total_df.Title.unique())

17774

In [72]:
total_df.Title.value_counts()[:10]

Milk and Honey                                                                          113
Hamlet                                                                                   50
The Giver (The Giver, #1)                                                                50
The Hunger Games (The Hunger Games, #1)                                                  49
Cinder (The Lunar Chronicles, #1)                                                        49
The Girl on the Train                                                                    47
Brown Girl Dreaming                                                                      44
Wonder (Wonder #1)                                                                       43
Miss Peregrine’s Home for Peculiar Children (Miss Peregrine’s Peculiar Children, #1)     42
Divergent (Divergent, #1)                                                                40
Name: Title, dtype: int64

In [73]:
len(total_df.Author.unique())

9688

In [74]:
total_df.Author.value_counts()[:10]

Cassandra Clare     250
Brian K. Vaughan    157
Neil Gaiman         148
Marissa Meyer       137
Stephenie Meyer     130
Rupi Kaur           127
Sarah J. Maas       123
Stephen King        123
Rick Riordan        115
Suzanne Collins     106
Name: Author, dtype: int64

## Analysis
Now that I've FINALLY got my final data set and a sense of its size and makeup, it's time to start analysis! Since I'm looking at overall linguistic differences between reviews for different genres, I want to include as many different linguistic features as I can think of. In this next secion, I will be adding those features as additional columns to the DataFrame so I can then analayze their differences between genre categories.

### Tokens

### Token Count

### Word Length

### Sentence Count

### Sentence Length

### TTR (Modified)

### K-Bands

### Sentiment

### Punctuation

Question marks, exclamation points, commas, semicolons