# Data Analysis
Ashley Feiler, aef56@pitt.edu

## Imports

In [1]:
import pickle
import glob
import nltk
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Sharable Data Samples

### Original Data

In [2]:
directory = '/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/'

share_files = glob.glob(directory + 'genre_share/*.pkl')
print(len(share_files))
share_files[0]

8

'/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/genre_share/fantasy_share.pkl'

In [3]:
share_df = pd.DataFrame()

for pkl in share_files:
    f = open(pkl, 'rb')  
    df = pickle.load(f)     
    f.close()  
    share_df = pd.concat([share_df, df])
    
share_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 4
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       40 non-null     object
 1   book_id       40 non-null     int64
 2   review_id     40 non-null     object
 3   rating        40 non-null     int64
 4   review_text   40 non-null     object
 5   date_added    40 non-null     object
 6   date_updated  40 non-null     object
 7   read_at       40 non-null     object
 8   started_at    40 non-null     object
 9   n_votes       40 non-null     int64
 10  n_comments    40 non-null     int64
dtypes: int64(4), object(7)
memory usage: 3.8+ KB

In [4]:
genre_samples = share_df.sample(5)
genre_samples

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
4,e2cf04ac7b40875f48871ad97df16c30,18516208,92ebb47d21495aaf87153aa75f2f3666,5,Sidqan mn 'jml rwyt wSf lHb lflsTyny ldhy qr't ..,Sat Apr 19 14:57:09 -0700 2014,Tue Jun 17 09:27:01 -0700 2014,Tue Jun 17 09:27:01 -0700 2014,,0,1
3,cec77035cef250b558adb6cc3a46c6e9,26031154,671e2f680a1fa778017e9b2783fa4a88,4,So delightful! I loved the incorporation of al...,Wed Sep 07 09:21:19 -0700 2016,Wed Sep 07 09:22:26 -0700 2016,Wed Sep 07 09:22:26 -0700 2016,Wed Sep 07 00:00:00 -0700 2016,2,0
3,7bb769950fc2439d1dfc383bc802d4d0,19394829,f2ff04f84434339284bf763a7f5d7b82,3,Fascinating story. An easy to follow account o...,Tue Aug 01 10:00:20 -0700 2017,Tue Aug 01 10:01:28 -0700 2017,Tue Aug 01 10:01:29 -0700 2017,,0,0
0,b023db7e236ce7b1c72c9fa6a6a5f715,25434370,19a4d683e94c33eccf72dd4bd5d77edc,2,Surprisingly okay. Recipes look bomb and I got...,Tue Jul 25 21:30:36 -0700 2017,Tue Jul 25 21:33:02 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,1,0
1,b9106e7a3b27ede55ea0fec6c9fab739,10836585,005ebd3d0e38d3ceb5acd96b8ad94258,4,I wanted to give this book 5 stars before I ev...,Tue Nov 22 11:16:11 -0800 2011,Tue Nov 22 11:41:27 -0800 2011,Tue Nov 22 00:00:00 -0800 2011,,2,1

Save as CSV to data_samples folder

In [5]:
#genre_samples.to_csv('data_samples/Genre_Samples.csv')
#Overwriting old CSV file by using same name

### Condensed Data

In [6]:
genre_files = glob.glob(directory + 'genre_pkls/*.pkl')
print(len(genre_files))
genre_files[0]

8

'/Users/ashleyfeiler/Documents/data_science/Goodreads-Genre-Reviews-Analysis/data/genre_pkls/children_short.pkl'

In [7]:
total_df = pd.DataFrame()

for pkl in genre_files:
    f = open(pkl, 'rb')  
    df = pickle.load(f)     
    f.close()  
    total_df = pd.concat([total_df, df])
    
total_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28274 entries, 0 to 4998
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Text           28274 non-null  object
 1   Rating         28274 non-null  int64
 2   Title          28274 non-null  object
 3   Author         28274 non-null  object
 4   Category       28274 non-null  object
 5   Genres         28274 non-null  object
 6   Language       28274 non-null  object
 7   Pages          28274 non-null  object
 8   Pub_Year       28274 non-null  object
 9   Avg_Rating     28274 non-null  float64
 10  Ratings_Count  28274 non-null  int64
 11  User_ID        28274 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.8+ MB

In [8]:
total_sample = total_df.sample(5)
total_sample

,Text,Rating,Title,Author,Category,Genres,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
2718,"I've enjoyed the Mark Waid Daredevil series, b...",2,"Daredevil, Volume 7",Mark Waid,comics_graphic,"{'comics, graphic': 311, 'fiction': 12, 'fanta...",eng,136,2014,3.97,801,bcdc2c010dd5a9788f4d7c96b04c69cc
3481,DNF. Uh...no.,0,"Awakening (A Dangerous Man, #1)",Serena Grey,romance,"{'romance': 64, 'fiction': 3}",eng,43,2013,3.44,199,874507ab349b2258eaecd967f4573c00
1029,another good book in this series. I like that ...,4,"Burned (House of Night, #7)",P.C. Cast,fantasy_paranormal,"{'young-adult': 1718, 'fantasy, paranormal': 2...",eng,323,2010,3.98,121609,2c82394ff98dab4394170aae9bf26799
2819,A fun story time filled with laughs. Great for...,4,Diary of a Fly,Doreen Cronin,children,"{'children': 252, 'fiction': 31, 'fantasy, par...",en-US,40,2007,4.20,5450,2ce0fc8d508ec975e5ff96966e7b1a1d
4202,Lovely book. I think (I hope) this could reall...,5,House Held Up by Trees,Ted Kooser,children,"{'children': 162, 'fiction': 12, 'poetry': 8, ...",en-CA,32,2012,3.91,1254,efd63dfecd5d2e2a75edf8e50b82d4a7

Save as CSV to data_samples folder

In [9]:
#total_sample.to_csv('data_samples/FinalDF_Sample.csv')

## Final Data Exploration

In [10]:
total_df = total_df[['Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count']]

In [11]:
total_df.columns

Index(['Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language',
       'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count'],
      dtype='object')

In [12]:
total_df.Category.value_counts()

ya                        4334
fantasy_paranormal        4323
romance                   3918
mystery_thriller_crime    3789
comics_graphic            3505
history_bio               3362
children                  2858
poetry                    2185
Name: Category, dtype: int64

In [13]:
total_df.Rating.value_counts()

5    9941
4    9593
3    5356
2    1807
0     894
1     683
Name: Rating, dtype: int64

In [14]:
len(total_df.Title.unique())

17774

In [15]:
total_df.Title.value_counts()[:10]

Milk and Honey                                                                          113
Hamlet                                                                                   50
The Giver (The Giver, #1)                                                                50
The Hunger Games (The Hunger Games, #1)                                                  49
Cinder (The Lunar Chronicles, #1)                                                        49
The Girl on the Train                                                                    47
Brown Girl Dreaming                                                                      44
Wonder (Wonder #1)                                                                       43
Miss Peregrine’s Home for Peculiar Children (Miss Peregrine’s Peculiar Children, #1)     42
Divergent (Divergent, #1)                                                                40
Name: Title, dtype: int64

In [16]:
len(total_df.Author.unique())

9688

In [17]:
total_df.Author.value_counts()[:10]

Cassandra Clare     250
Brian K. Vaughan    157
Neil Gaiman         148
Marissa Meyer       137
Stephenie Meyer     130
Rupi Kaur           127
Sarah J. Maas       123
Stephen King        123
Rick Riordan        115
Suzanne Collins     106
Name: Author, dtype: int64

## Analysis
Now that I've FINALLY got my final data set and a sense of its size and makeup, it's time to start analysis! Since I'm looking at overall linguistic differences between reviews for different genres, I want to include as many different linguistic features as I can think of. In this next secion, I will be adding those features as additional columns to the DataFrame so I can then analayze their differences between genre categories.

### Tokens

### Token Count

### Word Length

### Sentence Count

### Sentence Length

### TTR (Modified)

### K-Bands

### Punctuation

Question marks, exclamation points, commas, semicolons