# Data Exploration
Ashley Feiler, aef56@pitt.edu

## Imports

In [1]:
#Turn off pretty printing
%pprint

#Import packages
import pandas as pd
import os

Pretty printing has been turned OFF

## Children's Literature Reviews
I began by reading in JSON file with review data and converting to DataFrame to prep for analysis. By focusing on only one genre (Children's Literature), I can explore the content and structure of the data at a more manageable scale, and then apply the successful methods to the other genre data sets

In [2]:
df = pd.read_json('data/Reviews/goodreads_reviews_children.json', lines=True)

In [3]:
df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,Tue Nov 17 11:37:35 -0800 2015,Tue Nov 17 11:38:05 -0800 2015,,,7,0
1,8842281e1d1347389f2ab93d60773d4d,17290220,22d424a2b0057b18fb6ecf017af7be92,5,One of my favorite books to read to my 5 year ...,Sat Nov 08 08:54:03 -0800 2014,Wed Jan 25 13:56:12 -0800 2017,Tue Jan 24 00:00:00 -0800 2017,,4,0
2,8842281e1d1347389f2ab93d60773d4d,6954929,50ed4431c451d5677d98dd25ca8ec106,5,One of the best and most imaginative childrens...,Thu Oct 23 13:46:20 -0700 2014,Thu Oct 23 13:47:00 -0700 2014,,,6,1
3,8842281e1d1347389f2ab93d60773d4d,460548,1e4de11dd4fa4b7ffa59b6c69a6b28e9,5,My daughter is loving this. Published in the 6...,Mon Dec 02 10:43:59 -0800 2013,Wed Mar 22 11:47:25 -0700 2017,,,5,4
4,8842281e1d1347389f2ab93d60773d4d,11474551,2065145714bf747083a1c9ce81d5c4fe,5,A friend sent me this. Hilarious!,Wed May 11 22:38:11 -0700 2011,Sun Jan 29 15:56:41 -0800 2012,Wed May 11 00:00:00 -0700 2011,Wed May 11 00:00:00 -0700 2011,5,0

In [4]:
children_share = df.head()

In [5]:
df.shape

(734640, 11)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734640 entries, 0 to 734639
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       734640 non-null  object
 1   book_id       734640 non-null  int64
 2   review_id     734640 non-null  object
 3   rating        734640 non-null  int64
 4   review_text   734640 non-null  object
 5   date_added    734640 non-null  object
 6   date_updated  734640 non-null  object
 7   read_at       734640 non-null  object
 8   started_at    734640 non-null  object
 9   n_votes       734640 non-null  int64
 10  n_comments    734640 non-null  int64
dtypes: int64(4), object(7)
memory usage: 61.7+ MB

The number of reviews (734640) matches the number provided by the data source page, which is great! I will keep an eye on this number as we add to the DataFrame to make sure we aren't accidentally adding/removing anything. There are no NaN values, which is great, but there are lot of columns whose data is unecessary for this product, so let's trim that down to the essentials.

In [7]:
reviews_df = df[['user_id', 'book_id', 'review_id', 'rating', 'review_text']]

In [8]:
reviews_df.head()

,user_id,book_id,review_id,rating,review_text
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.
1,8842281e1d1347389f2ab93d60773d4d,17290220,22d424a2b0057b18fb6ecf017af7be92,5,One of my favorite books to read to my 5 year ...
2,8842281e1d1347389f2ab93d60773d4d,6954929,50ed4431c451d5677d98dd25ca8ec106,5,One of the best and most imaginative childrens...
3,8842281e1d1347389f2ab93d60773d4d,460548,1e4de11dd4fa4b7ffa59b6c69a6b28e9,5,My daughter is loving this. Published in the 6...
4,8842281e1d1347389f2ab93d60773d4d,11474551,2065145714bf747083a1c9ce81d5c4fe,5,A friend sent me this. Hilarious!

Much better! Now this data contains the book IDs, but I'd like to be able to identify the books by title/author and have some basic information such as page count. This book-specific data is in another JSON file, so let's load that into another DataFrame.

## Children's Literature Book Info

In [9]:
books = pd.read_json('data/Books/goodreads_books_children.json', lines=True)

In [10]:
books.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,1599150603,7,[],US,,"[{'count': '56', 'name': 'to-read'}, {'count':...",,false,4.13,B00DU10PUG,...,9,,2006,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,287141,46,278578,The Aeneid for Boys and Girls,The Aeneid for Boys and Girls
1,1934876569,6,[151854],US,,"[{'count': '515', 'name': 'to-read'}, {'count'...",,false,4.22,,...,3,,2009,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,6066812,98,701117,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",,false,4.43,B017RORXNI,...,9,,1995,https://www.goodreads.com/book/show/89378.Dog_...,https://images.gr-assets.com/books/1360057676m...,89378,1331,86259,Dog Heaven,Dog Heaven
3,0915190575,4,[],US,,"[{'count': '8', 'name': 'to-read'}, {'count': ...",,false,4.29,,...,,,,https://www.goodreads.com/book/show/3209312-mo...,https://s.gr-assets.com/assets/nophoto/book/11...,3209312,11,3242879,"Moths and Mothers, Feathers and Fathers: A Sto...","Moths and Mothers, Feathers and Fathers: A Sto..."
4,1416904999,4,[],US,,"[{'count': '8', 'name': 'to-read'}, {'count': ...",,false,3.57,,...,6,,2005,https://www.goodreads.com/book/show/1698376.Wh...,https://s.gr-assets.com/assets/nophoto/book/11...,1698376,23,1695373,What Do You Do?,What Do You Do?

In [11]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124082 entries, 0 to 124081
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   isbn                  124082 non-null  object
 1   text_reviews_count    124082 non-null  int64
 2   series                124082 non-null  object
 3   country_code          124082 non-null  object
 4   language_code         124082 non-null  object
 5   popular_shelves       124082 non-null  object
 6   asin                  124082 non-null  object
 7   is_ebook              124082 non-null  object
 8   average_rating        124082 non-null  float64
 9   kindle_asin           124082 non-null  object
 10  similar_books         124082 non-null  object
 11  description           124082 non-null  object
 12  format                124082 non-null  object
 13  link                  124082 non-null  object
 14  authors               124082 non-null  object
 15  publisher             124082 non-null  object
 16  num_pages             124082 non-null  object
 17  publication_day       124082 non-null  object
 18  isbn13                124082 non-null  object
 19  publication_month     124082 non-null  object
 20  edition_information   124082 non-null  object
 21  publication_year      124082 non-null  object
 22  url                   124082 non-null  object
 23  image_url             124082 non-null  object
 24  book_id               124082 non-null  int64
 25  ratings_count         124082 non-null  int64
 26  work_id               124082 non-null  int64
 27  title                 124082 non-null  object
 28  title_without_series  124082 non-null  object
dtypes: float64(1), int64(4), object(24)
memory usage: 27.5+ MB

This DataFrame once again has no NaN values (nice!), and while it does have a lower number of samples (124082) than the reviews DataFrame, this makes sense because there could be multiple reviews for the same book. However, this is a ton of info, so let's trim it down again to data I might need.

In [12]:
books_df = books[['text_reviews_count', 'series', 'country_code', 'language_code', 'is_ebook', 'average_rating', 'description', 'format', 'authors', 'publisher', 'num_pages', 'edition_information', 'publication_year', 'book_id', 'ratings_count', 'title', 'title_without_series']]

In [13]:
books_df.head()

,text_reviews_count,series,country_code,language_code,is_ebook,average_rating,description,format,authors,publisher,num_pages,edition_information,publication_year,book_id,ratings_count,title,title_without_series
0,7,[],US,,false,4.13,"Relates in vigorous prose the tale of Aeneas, ...",Paperback,"[{'author_id': '3041852', 'role': ''}]",Yesterday's Classics,162,,2006,287141,46,The Aeneid for Boys and Girls,The Aeneid for Boys and Girls
1,6,[151854],US,,false,4.22,"To Kara's astonishment, she discovers that a p...",Paperback,"[{'author_id': '19158', 'role': ''}]",Seven Seas,216,,2009,6066812,98,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...
2,193,[],US,eng,false,4.43,In Newbery Medalist Cynthia Rylant's classic b...,Hardcover,"[{'author_id': '5411', 'role': ''}]",Blue Sky Press,40,,1995,89378,1331,Dog Heaven,Dog Heaven
3,4,[],US,,false,4.29,,,"[{'author_id': '589328', 'role': ''}, {'author...",,,,,3209312,11,"Moths and Mothers, Feathers and Fathers: A Sto...","Moths and Mothers, Feathers and Fathers: A Sto..."
4,4,[],US,,false,3.57,WHAT DO YOU DO?\nA hen lays eggs...\nA cow giv...,Board Book,"[{'author_id': '169159', 'role': ''}]",Little Simon,24,,2005,1698376,23,What Do You Do?,What Do You Do?

In [14]:
books_df.tail()

,text_reviews_count,series,country_code,language_code,is_ebook,average_rating,description,format,authors,publisher,num_pages,edition_information,publication_year,book_id,ratings_count,title,title_without_series
124077,1,[],US,,true,4.00,,,"[{'author_id': '421368', 'role': ''}]",,,,,24558598,5,Children's Books: Oliver and the Dragon,Children's Books: Oliver and the Dragon
124078,7,[],US,en-GB,true,4.27,Another hilarious and moving novel from David ...,,"[{'author_id': '313653', 'role': ''}]",HarperCollinsChildren'sBooks,205,,2011,13057172,839,Gangsta Granny,Gangsta Granny
124079,13,[],US,,false,4.29,"""A perfect reminder to always be on the lookou...",Hardcover,"[{'author_id': '1221698', 'role': ''}, {'autho...",HarperCollins,40,,2010,7925060,40,Instructions,Instructions
124080,1,[],US,,false,4.36,One of the most popular series ever published ...,Paperback,"[{'author_id': '10681', 'role': ''}, {'author_...",Aladdin,176,,2002,331839,18,Jacqueline Kennedy Onassis: Friend of the Arts,Jacqueline Kennedy Onassis: Friend of the Arts
124081,6,[],US,,false,4.00,"Gathers poems by William Blake, Emily Bronte, ...",Hardcover,"[{'author_id': '82312', 'role': 'Editor'}]",Smithmark Publishers,96,,1996,2342551,36,The Children's Classic Poetry Collection,The Children's Classic Poetry Collection

Let's explore some of these columns.

In [15]:
books_df.country_code.value_counts()

US    124082
Name: country_code, dtype: int64

Looks like every book has the same country code - I can probably leave that column out.

In [16]:
books_df.language_code.value_counts()

         72496
eng      30253
en-US     6197
en-GB     2071
spa       1501
         ...
egy          1
aze          1
mon          1
vls          1
nub          1
Name: language_code, Length: 90, dtype: int64

This will be important to consider - to scale down the data, I will likely restrict the data to only reviews of books written in English (more on this later!)

In [17]:
books_df.format.value_counts()

Hardcover                   51159
Paperback                   38880
                            21039
Board Book                   3214
ebook                        2423
                            ...
pop up book                     1
miekka (paperback)              1
Klappenbroschur                 1
three books in boxed set        1
Board Book Periodical           1
Name: format, Length: 209, dtype: int64

209 different formats of books? I have no idea what those could be, and the book format likely doesn't influence the reviews that significantly, so I can probably leave out this column as well.

In [18]:
books_df.is_ebook.value_counts()

false    114606
true       9476
Name: is_ebook, dtype: int64

There are significantly more physical books represented in this data than ebooks.

In [19]:
books_df.loc[books_df['book_id'] == 23310161]

,text_reviews_count,series,country_code,language_code,is_ebook,average_rating,description,format,authors,publisher,num_pages,edition_information,publication_year,book_id,ratings_count,title,title_without_series
17550,1231,[751058],US,eng,false,4.43,The companion to the #1 blockbuster bestseller...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,23310161,8924,The Day the Crayons Came Home,The Day the Crayons Came Home

Indexing seems to work!
Now that I've explored the data a bit more, I'm going to remove a few more columns.

In [20]:
books_df = books[['text_reviews_count', 'series', 'language_code', 'is_ebook', 'average_rating', 'description', 'authors', 'publisher', 'num_pages', 'edition_information', 'publication_year', 'book_id', 'ratings_count', 'title', 'title_without_series']]

In [21]:
books_df.head()

,text_reviews_count,series,language_code,is_ebook,average_rating,description,authors,publisher,num_pages,edition_information,publication_year,book_id,ratings_count,title,title_without_series
0,7,[],,false,4.13,"Relates in vigorous prose the tale of Aeneas, ...","[{'author_id': '3041852', 'role': ''}]",Yesterday's Classics,162,,2006,287141,46,The Aeneid for Boys and Girls,The Aeneid for Boys and Girls
1,6,[151854],,false,4.22,"To Kara's astonishment, she discovers that a p...","[{'author_id': '19158', 'role': ''}]",Seven Seas,216,,2009,6066812,98,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...
2,193,[],eng,false,4.43,In Newbery Medalist Cynthia Rylant's classic b...,"[{'author_id': '5411', 'role': ''}]",Blue Sky Press,40,,1995,89378,1331,Dog Heaven,Dog Heaven
3,4,[],,false,4.29,,"[{'author_id': '589328', 'role': ''}, {'author...",,,,,3209312,11,"Moths and Mothers, Feathers and Fathers: A Sto...","Moths and Mothers, Feathers and Fathers: A Sto..."
4,4,[],,false,3.57,WHAT DO YOU DO?\nA hen lays eggs...\nA cow giv...,"[{'author_id': '169159', 'role': ''}]",Little Simon,24,,2005,1698376,23,What Do You Do?,What Do You Do?

Now that I have the preliminary information I want, I'll use pandas' `.merge()` function to combine the review and book data, which will automatically align based off of their shared book_id values.

In [22]:
children_df = pd.merge(reviews_df, books_df)

In [23]:
children_df.head()

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,description,authors,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home

In [24]:
children_df.shape

(734640, 19)

I still have 734640 rows, meaning all the review samples are accounted for, and the columns have increased given that I've combined the information from both DataFrames. Now I'm going to take a closer look at some of the text just to make sure it's there in full (I'll dive into analysis of how the text is represented later on).

In [25]:
children_df.review_text[1]

"Great sequel! Lost crayons write their owner postcards from where they've been lost so they can get retrieved. Some of them have been through so much! \n Good for preschool storytimes."

In [26]:
children_df.review_text[10000]

'I\'m torn. Do I read it again immediately, or wait a few months? I need to do so at some point, because reading for the adventure & character dev. wasn\'t nearly enough. \n I love Oscar, and Callie, and the cats. I love the way Oscar (who seems slightly autistic) has an understanding of himself and the world that unfolds at the same pace for him as it did for me. I\'m truly spellbound by the poetic language and mysterious atmosphere. (Opening the book at a random early page finds Oscar in his master\'s library: "The shelves were so very much taller than he could ever dream of being, and Oscar firmly believed people shouldn\'t go any higher than they already were.") \n Like Breadcrumbs it\'s not a book for everyone. But it\'s brilliant. Imo, Ursu (so far) writes with almost as much grace & power as Sonya Hartnett and her stories are a lot easier to stomach. I will definitely read more by the author.'

## Children's Literature Genre Info
This is the children's genre subset of data, but the data provided offers multiple possible genre tags for each book, which could be useful looking at potential overlap between categories. Once again, genre info is in a different JSON file, so I'll load that here and follow the same process as with the other DataFrames so far, merging based on shared book IDs.

In [27]:
genres_df = pd.read_json('data/goodreads_book_genres_initial.json', lines=True)

In [28]:
genres_df.head()

   book_id                                             genres
0  5333265      {'history, historical fiction, biography': 1}
1  1333909  {'fiction': 219, 'history, historical fiction,...
2  7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
3  6066819  {'fiction': 555, 'romance': 23, 'mystery, thri...
4   287140                                 {'non-fiction': 3}

In [29]:
genres_df.loc[genres_df['book_id'] == 287140]

   book_id              genres
4   287140  {'non-fiction': 3}

In [30]:
children_df = pd.merge(children_df, genres_df)
children_df['Genre_Tag'] = 'children'

Here I've merged the list of genres associated with each book, but have also broadcast the genre tag 'children' to every entry in this category to represent that it is part of the children's literature genre subset. This will be helpful for making a DataFrame with all the different genres combined to keep different genres differentiated.

In [31]:
children_df.head()

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,authors,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,Genre_Tag
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children

## Children's Literature Author Info
So far the children_df DataFrame has everything except author names, which is represented by an author_id deeply embedded in the 'authors' column. The format of the 'authors' column is formatted strangely, so let's take a closer look at the first row's entry.

In [32]:
children_df.authors[0]

[{'author_id': '6561846', 'role': ''}, {'author_id': '173545', 'role': 'Illustrations'}]

The information in the 'authors' column is a list of two dictionaries, each with two key:value pairs for the author and illustrator. I only want the first key:value pair of the first dictionary for the author's ID, but it will probably take some digging to get to it. For now, I'm going to load the JSON file with author-specific info.

In [33]:
authors_df = pd.read_json('data/goodreads_book_authors.json', lines=True)

In [34]:
authors_df.head()

,average_rating,author_id,text_reviews_count,name,ratings_count
0,3.98,604031,7,Ronald J. Fields,49
1,4.08,626222,28716,Anita Diamant,546796
2,3.92,10333,5075,Barbara Hambly,122118
3,3.68,9212,36262,Jennifer Weiner,888522
4,3.82,149918,96,Nigel Pennick,1740

Now that I've got the author DataFrame, I know I will need to merge based on the author_id, so let's try to extract the author_id from the main DataFrame. I'm not sure how this is going to work, so I'm going to try it on a small sample first.

In [35]:
test_authors = children_df.head()

In [36]:
test_authors

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,authors,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,Genre_Tag
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children

In [37]:
test_authors.authors.iloc[2][0] #First indexes 'authors' entry from  3rd row, then indexes first dicitionary in list

{'author_id': '6561846', 'role': ''}

In [38]:
#For each index in the DataFrame, map the list shown above to one large list
#Extract author id by using .values() to get only the values, cast as a list, and take the first value for the author 
test_list = list(test_authors.index.map(lambda x: test_authors.authors.iloc[x][0])) 
list(test_list[0].values())[0]

'6561846'

In [39]:
#Apply the forumula above to create a new column with the author_id
test_authors['author_id'] = test_authors.index.map(lambda x: list(test_list[x].values())[0])

/var/folders/j9/9lmff3zj6bxgfpsb8gm8pjrw0000gn/T/ipykernel_1098/3428634348.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_authors['author_id'] = test_authors.index.map(lambda x: list(test_list[x].values())[0])

In [40]:
test_authors

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,Genre_Tag,author_id
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846

This seems to work, time to do it to all the data!

In [41]:
author_list = list(children_df.index.map(lambda x: children_df.authors.iloc[x][0]))
list(author_list[0].values())[0]

'6561846'

In [42]:
children_df['author_id'] = children_df.index.map(lambda x: int(list(author_list[x].values())[0]))
children_df.head()

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,Genre_Tag,author_id
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846

In [43]:
children_df.shape

(734640, 22)

In [44]:
authors_df = authors_df[['author_id', 'name']]
authors_df.head()

   author_id              name
0     604031  Ronald J. Fields
1     626222     Anita Diamant
2      10333    Barbara Hambly
3       9212   Jennifer Weiner
4     149918     Nigel Pennick

In [45]:
children_df = pd.merge(children_df, authors_df)
children_df.shape

(734640, 23)

In [46]:
children_df.head()

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,Genre_Tag,author_id,name
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt

The author data has been merged, the number of rows is still thesame, the number of columns has increased to account for the new author data, and the author's name is now included!

## Language Filtering
Given the information about all the different language codes before, I want to filter out only those books written in Enlglish. First lets look at a list of all the different language codes.

In [47]:
langs = list(children_df.language_code.unique())
langs

['eng', '', 'vie', 'spa', 'por', 'dan', 'en-US', 'ger', 'afr', 'mul', 'fin', 'en-GB', 'per', 'ara', 'rum', 'cat', 'nl', 'tur', 'pes', 'ita', 'ind', 'fre', 'srp', 'gre', 'nor', 'slo', 'swe', 'msa', 'cze', 'bul', 'lit', 'rus', 'ben', 'pol', 'mon', 'scr', 'heb', 'kat', 'kur', 'sin', 'en-CA', 'hye', 'lav', 'slv', 'pt-BR', 'est', 'isl', 'tha', 'hun', 'nob', 'ukr', 'jpn', 'gle', 'epo', 'oci', 'aze', 'zho', '--', 'kaz', 'mkd', 'krl', 'kor', 'lat', 'mal', 'sco', 'dum', 'eus', 'yid', 'roh', 'fao', 'hmn', 'egy', 'hin', 'fil', 'smn', 'dut', 'bos', 'tgl', 'mlt', 'nno', 'glg', 'guj', 'sqi', 'nub', 'vls', 'nld', 'en', 'gem', 'nav', 'non']

Most of these are 3-letter standardized language codes, but some are unrecognized. I'm going to take a look at the titles of books with unrecognized codes to make sure I'm not missing anything.

In [48]:
children_df.loc[children_df['language_code'] == 'scr'].title.iloc[:10] #Unknown?

9363                         Sofijin svijet
9364                         Sofijin svijet
17194                                  Čudo
17195                                  Čudo
17196                                  Čudo
31741    Do grla u nevolji (39 tragova, #6)
31742         Kao u grobu (39 tragova,  #4)
80766                            Mali princ
80915                            Mali princ
80916                            Mali princ
Name: title, dtype: object

In [49]:
children_df.loc[children_df['language_code'] == 'sco'].title.iloc[:10] #Scots

197760                                   The Doric Gruffalo
197971                                The Shetland Gruffalo
418080    Precious and the Puggies: Precious Ramotswe's ...
418081    Precious and the Puggies: Precious Ramotswe's ...
418082    Precious and the Puggies: Precious Ramotswe's ...
418083    Precious and the Puggies: Precious Ramotswe's ...
418084    Precious and the Puggies: Precious Ramotswe's ...
418174    Precious and the Puggies: Precious Ramotswe's ...
515260                                        Snotty Crocky
515261                                        Snotty Crocky
Name: title, dtype: object

In [50]:
children_df.loc[children_df['language_code'] == 'pes'].title.iloc[:10] #Iranian Persian

7184      سفر به سرزمین وحشی‌ها
17130                    اعجوبه
42212         راز موتورسیکلت من
42213         راز موتورسیکلت من
42214         راز موتورسیکلت من
116857              ماجرای سیرک
171689                سارا کورو
171690                سارا کورو
176707      دوازده پرنسس رقصنده
213234       استنلی، پسرک کاغذی
Name: title, dtype: object

In [51]:
children_df.loc[children_df['language_code'] == 'non'].title.iloc[:10] #Unknown?

726902    Vivaldi
Name: title, dtype: object

In [52]:
children_df.loc[children_df['language_code'] == 'vls'].title.iloc[:10] #West Flemish

707300    Mein 24. Dezember. Eine seltsame Geschichte
Name: title, dtype: object

In [53]:
children_df.loc[children_df['language_code'] == ''].title.iloc[-10:] #Unknown?

734619                                      The Witch-Child
734620                    Peter Rabbit Little Learning Book
734621    The Christian Mom's Idea Book: Hundreds of Ide...
734624    The Guardian Princesses Inaugural Trilogy: Spe...
734625                               Nobody Has Time for Me
734630                           When Teddy Was In The Wash
734631                                  The Lost Tooth Club
734632      A Journey The Autobiography of Apolo Anton Ohno
734634                                     Work, Work, Work
734635                                    Where Peace Lives
Name: title, dtype: object

In [54]:
children_df.loc[children_df['language_code'] == '--'].title.iloc[:10] #Unknown?

81175                                    El Little Principe
482539    All of a Kind Family: Five Young Sisters in th...
482540    All of a Kind Family: Five Young Sisters in th...
724333    Mein Körper gehört mir! Schutz vor Missbrauch ...
Name: title, dtype: object

While some of these language codes seem to include English titles, especially the empty string instead of a language code, to keep things consistent, I am going to filter only those books with some form of English as an assigned language code.

In [55]:
english = (children_df.language_code == 'eng') | (children_df.language_code == 'en-GB') | (children_df.language_code == 'en-US') | (children_df.language_code == 'en-CA')
children_df[english].head()

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,Genre_Tag,author_id,name
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt

In [56]:
children_df = children_df[english]
children_df.head()

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,Genre_Tag,author_id,name
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,6561846,Drew Daywalt

In [57]:
children_df.language_code.value_counts()

eng      326034
en-US     87456
en-GB     12892
en-CA      1244
Name: language_code, dtype: int64

In [58]:
children_df.shape

(427626, 23)

The shape and value_counts confirm that there are now only English-coded books and that the total number of reviews has now been reduced to 427626 - that's still a huge number of reviews, and I'll be working with more genres, so I'm eventually going to have to take a sample of this data.

## Formatting
There are still a lot of columns in my working DataFrame, so I want to break it down into only the most essential pieces of data.

In [59]:
children_df.columns

Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'text_reviews_count', 'series', 'language_code', 'is_ebook',
       'average_rating', 'description', 'authors', 'publisher', 'num_pages',
       'edition_information', 'publication_year', 'ratings_count', 'title',
       'title_without_series', 'genres', 'Genre_Tag', 'author_id', 'name'],
      dtype='object')

In [60]:
children_short = children_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
children_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']

In [61]:
children_short.head()

,User_ID,Rating,Text,Language,Avg_Rating,Pages,Pub_Year,Ratings_Count,Title,Genres,Category,Author
0,8842281e1d1347389f2ab93d60773d4d,4,Fun sequel to the original.,eng,4.43,36,2015,8924,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,Drew Daywalt
1,d1e368a7d2870eb6fbf6e0d350568a2d,4,Great sequel! Lost crayons write their owner p...,eng,4.43,36,2015,8924,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,Drew Daywalt
2,7370e3e727f4fdae3ab82f054838d73d,5,Great sequel to the original.,eng,4.43,36,2015,8924,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,Drew Daywalt
3,ec58d8af7f69e19781abed9d25287a57,5,I loved this book as much as the 1st one.,eng,4.43,36,2015,8924,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,Drew Daywalt
4,cfe4738a5d926fc158d4fcb1287fe2c5,4,It was a cute follow-up to the clever first book.,eng,4.43,36,2015,8924,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",children,Drew Daywalt

In [62]:
children_short.tail()

,User_ID,Rating,Text,Language,Avg_Rating,Pages,Pub_Year,Ratings_Count,Title,Genres,Category,Author
734633,897b4731bce9b5b20b8c75714b191c01,5,"My little ones loved this story, especially th...",en-GB,3.78,,,9,Mac The Fire Truck and The Airplane Fire,{'children': 2},children,Trey Watson
734636,12104bd507c4ed850f90b22243905be0,3,The Red Gorilla of Oz was alright. I was doing...,eng,3.41,168,2012,6,The Red Gorilla of Oz,"{'fantasy, paranormal': 2, 'children': 2}",children,Richard Capwell
734637,f099c0c488290d550eff5200c64a3094,5,A slightly more adult theme to this second in ...,en-GB,5.00,73,2013,1,Tuscan Cats Get Into Mischief,{'children': 2},children,Laura Graham
734638,f099c0c488290d550eff5200c64a3094,4,A delightful children's story that will appeal...,en-GB,4.50,64,2013,2,A Tale of Two Tuscan Cats,{'children': 2},children,Laura Graham
734639,0c6a008c66d219aa559aa717d48515a9,4,This is a great book for creating a home or fo...,eng,3.94,114,2006,79,Teaching Yoga to Children Through Story,"{'non-fiction': 5, 'children': 3}",children,Sydney Solis

Let's rearrange these columns!

In [63]:
children_short = children_short[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
children_short.head()

,Text,Rating,Title,Author,Category,Genres,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
0,Fun sequel to the original.,4,The Day the Crayons Came Home,Drew Daywalt,children,"{'children': 931, 'fiction': 64, 'fantasy, par...",eng,36,2015,4.43,8924,8842281e1d1347389f2ab93d60773d4d
1,Great sequel! Lost crayons write their owner p...,4,The Day the Crayons Came Home,Drew Daywalt,children,"{'children': 931, 'fiction': 64, 'fantasy, par...",eng,36,2015,4.43,8924,d1e368a7d2870eb6fbf6e0d350568a2d
2,Great sequel to the original.,5,The Day the Crayons Came Home,Drew Daywalt,children,"{'children': 931, 'fiction': 64, 'fantasy, par...",eng,36,2015,4.43,8924,7370e3e727f4fdae3ab82f054838d73d
3,I loved this book as much as the 1st one.,5,The Day the Crayons Came Home,Drew Daywalt,children,"{'children': 931, 'fiction': 64, 'fantasy, par...",eng,36,2015,4.43,8924,ec58d8af7f69e19781abed9d25287a57
4,It was a cute follow-up to the clever first book.,4,The Day the Crayons Came Home,Drew Daywalt,children,"{'children': 931, 'fiction': 64, 'fantasy, par...",eng,36,2015,4.43,8924,cfe4738a5d926fc158d4fcb1287fe2c5

In [64]:
children_short.tail()

,Text,Rating,Title,Author,Category,Genres,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
734633,"My little ones loved this story, especially th...",5,Mac The Fire Truck and The Airplane Fire,Trey Watson,children,{'children': 2},en-GB,,,3.78,9,897b4731bce9b5b20b8c75714b191c01
734636,The Red Gorilla of Oz was alright. I was doing...,3,The Red Gorilla of Oz,Richard Capwell,children,"{'fantasy, paranormal': 2, 'children': 2}",eng,168,2012,3.41,6,12104bd507c4ed850f90b22243905be0
734637,A slightly more adult theme to this second in ...,5,Tuscan Cats Get Into Mischief,Laura Graham,children,{'children': 2},en-GB,73,2013,5.00,1,f099c0c488290d550eff5200c64a3094
734638,A delightful children's story that will appeal...,4,A Tale of Two Tuscan Cats,Laura Graham,children,{'children': 2},en-GB,64,2013,4.50,2,f099c0c488290d550eff5200c64a3094
734639,This is a great book for creating a home or fo...,4,Teaching Yoga to Children Through Story,Sydney Solis,children,"{'non-fiction': 5, 'children': 3}",eng,114,2006,3.94,79,0c6a008c66d219aa559aa717d48515a9

In [65]:
children_short.shape

(427626, 12)

As shown above, even though there are no NaN values, the publication year is missing for one of the rows, meaning more elements of the DataFram could be missing without showing up as a null value. While it's not a big deal if a book is missing its number of pages or year of publication, I do want to make sure I'm not missing any review or rating entries. Since the `.info()` shows that there are no null values in the DataFrame, but there are empty spaces, these are likely filled with empty strings. I created a filter to test if any rows had empty strings or strings with one space in the Text or Rating columns.

In [66]:
empty = (children_short.Text != '') & (children_short.Text != ' ') & (children_short.Rating != '') & (children_short.Rating != ' ')
print(children_short[empty].shape)

(427536, 12)

In [67]:
children_short = children_short[empty]

Now that entries without a review text or rating have been excluded, it's finally time to take a sample. As mentioned before, to make this data more manageable, I'm going to to take a sample of 1000 reviews from each genre and save this shortened DataFrame with the information for those 1000 reviews into CSV files that I can then access later. However, I'm not going to save the CSVs until the very end given that a new sample is generated everytime this notebook is run, and I may have to test sections along the way.

In [68]:
children_sample = children_short.sample(1000)
children_sample.head()

,Text,Rating,Title,Author,Category,Genres,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
321024,"I liked this book. It wasn't just great, but I...",3,Guinea Pigs Add Up,Margery Cuyler,children,"{'children': 13, 'fiction': 1}",en-US,32,2010,3.36,52,3ac3b75986a4c1edc822f82759b29ced
100288,I haven't read this since I was a kid...and ac...,5,The Call of the Wild,Jack London,children,"{'young-adult': 696, 'fiction': 905, 'history,...",eng,128,1990,3.83,544,54423e4d746c004159a138415cd19ce3
371502,I absolutely loved these Mr Men and Little Mis...,4,Little Miss Sunshine,Roger Hargreaves,children,"{'children': 142, 'fiction': 21, 'fantasy, par...",eng,,,3.99,1122,efa38fceaadc987af44303639699af2d
675302,"""Ellie's Story"" is a perfect book for young do...",4,Ellie's Story,W. Bruce Cameron,children,"{'fiction': 45, 'children': 35, 'young-adult':...",eng,208,2015,4.35,1524,1b9f35ec3337842b46d985cec2564bd9
679863,Fun and silly math. Prompted ideas in them for...,5,Life of Fred: Apples,Stanley F. Schmidt,children,"{'children': 13, 'non-fiction': 3}",eng,128,2011,4.47,328,a5934f1ee3b280eb043d0c14792886d6

In [69]:
children_sample.shape

(1000, 12)

# Poetry Data
## Reviews

In [70]:
poetry_reviews = pd.read_json('data/Reviews/goodreads_reviews_poetry.json', lines=True)

In [71]:
poetry_reviews.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,3ca7375dba942a760e53b726c472a7dd,402128,28423ff309bc896c071a8d9df4a10e8a,5,I have three younger siblings and we grew up w...,Tue Jun 12 08:59:04 -0700 2012,Fri Jun 15 11:41:12 -0700 2012,,,0,0
1,0ef32090550901ead25cb0ea21c4d36b,92270,2db1180992e2b0b1631a3ac5644bde84,5,This is my favorite collection of poetry.,Mon Apr 14 18:42:40 -0700 2014,Mon Apr 14 18:43:05 -0700 2014,Wed Jan 01 00:00:00 -0800 1997,,0,0
2,0ef32090550901ead25cb0ea21c4d36b,908708,bca57fa40e92c9261b00b03dbebd96fe,4,"He's so disturbing. So very, very disturbing.",Tue Apr 22 13:58:10 -0700 2008,Tue Apr 22 13:58:33 -0700 2008,,,0,0
3,d37b46b2190ed7c518259f29b47a9b36,253264,cb1ebc02d8b2aff15735d513877463ce,5,I just reread this play for a class I am takin...,Wed Sep 27 19:08:08 -0700 2017,Sat Sep 30 06:39:45 -0700 2017,Wed Sep 27 00:00:00 -0700 2017,Tue Sep 26 00:00:00 -0700 2017,1,0
4,af157d0205b8a901dee6d4a2aed7e6ad,70885,8dca128b8e869048a7442c18659dbece,5,"Cuanto mas leo, mas me gusta. Su poesia es env...",Thu Jun 18 20:00:03 -0700 2015,Thu Jun 18 20:01:29 -0700 2015,Thu Jun 18 00:00:00 -0700 2015,Tue Jun 16 00:00:00 -0700 2015,0,0

In [72]:
poetry_share = poetry_reviews.head()

In [73]:
poetry_reviews.shape

(154555, 11)

In [74]:
poetry_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154555 entries, 0 to 154554
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       154555 non-null  object
 1   book_id       154555 non-null  int64
 2   review_id     154555 non-null  object
 3   rating        154555 non-null  int64
 4   review_text   154555 non-null  object
 5   date_added    154555 non-null  object
 6   date_updated  154555 non-null  object
 7   read_at       154555 non-null  object
 8   started_at    154555 non-null  object
 9   n_votes       154555 non-null  int64
 10  n_comments    154555 non-null  int64
dtypes: int64(4), object(7)
memory usage: 13.0+ MB

## Book Info

In [75]:
poetry_books = pd.read_json('data/Books/goodreads_books_poetry.json', lines=True)
poetry_books.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,,1,[],US,eng,"[{'count': '8', 'name': 'to-read'}, {'count': ...",,false,3.83,,...,11,,1887,https://www.goodreads.com/book/show/16037549-v...,https://images.gr-assets.com/books/1348176637m...,16037549,3,5212748,Vision of Sir Launfal and Other Poems,Vision of Sir Launfal and Other Poems
1,0811223981,2,[],US,,"[{'count': '100', 'name': 'to-read'}, {'count'...",,false,3.83,B00U2WY9U8,...,4,,2015,https://www.goodreads.com/book/show/22466716-f...,https://images.gr-assets.com/books/1404958407m...,22466716,37,41905435,Fairy Tales: Dramolettes,Fairy Tales: Dramolettes
2,0374428115,7,[],US,,"[{'count': '32', 'name': 'to-read'}, {'count':...",,false,4.38,,...,7,,2008,https://www.goodreads.com/book/show/926662.Gro...,https://s.gr-assets.com/assets/nophoto/book/11...,926662,45,911665,Growltiger's Last Stand and Other Poems,Growltiger's Last Stand and Other Poems
3,0156182890,12,[],US,,"[{'count': '554', 'name': 'to-read'}, {'count'...",,false,3.71,B00IWTRB1W,...,3,,1964,https://www.goodreads.com/book/show/926667.The...,https://images.gr-assets.com/books/1382939971m...,926667,115,995066,The Cocktail Party,The Cocktail Party
4,1942004192,4,[],US,eng,"[{'count': '228', 'name': 'to-read'}, {'count'...",,false,5.00,,...,12,First,2015,https://www.goodreads.com/book/show/29065952-l...,https://images.gr-assets.com/books/1455198396m...,29065952,9,49294781,Louder Than Everything You Love,Louder Than Everything You Love

In [76]:
poetry_books.country_code.value_counts()

US    36514
Name: country_code, dtype: int64

In [77]:
print(poetry_books.language_code.value_counts())
print(poetry_books.language_code.unique())

         19462
eng       8393
ara       1608
per        924
en-US      868
         ...
tlh          1
ira          1
heb          1
arw          1
snd          1
Name: language_code, Length: 93, dtype: int64
['eng' '' 'tur' 'per' 'ara' 'en-US' 'fre' 'cze' 'nl' 'gre' 'ger' 'ben'
 'spa' 'ukr' 'mul' 'rum' 'dan' 'nno' 'ind' 'por' 'enm' 'fin' 'ita' 'rus'
 'bul' 'scr' 'lit' 'msa' 'swe' 'slv' 'srp' 'pol' 'en-CA' 'nor' 'hin'
 'en-GB' 'slo' 'kat' 'jpn' 'pes' 'lav' 'cat' 'urd' 'vie' 'tlh' 'est' 'fil'
 'heb' 'tam' 'mar' 'zho' 'grc' 'fao' 'mal' 'hun' 'bos' 'arw' 'lat' 'isl'
 'ang' 'glg' 'pan' 'tgl' 'gmh' 'ira' 'hye' '--' 'tha' 'mon' 'dum' 'sin'
 'kur' 'san' 'peo' 'nob' 'amh' 'aze' 'frm' 'sco' 'kor' 'afr' 'bel' 'nep'
 'dut' 'gla' 'tel' 'dgr' 'ota' 'fro' 'aus' 'sqi' 'mkd' 'snd']

In [78]:
poetry_df = pd.merge(poetry_reviews, poetry_books, on='book_id')
poetry_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,...,isbn13,publication_month,edition_information,publication_year,url,image_url,ratings_count,work_id,title,title_without_series
0,3ca7375dba942a760e53b726c472a7dd,402128,28423ff309bc896c071a8d9df4a10e8a,5,I have three younger siblings and we grew up w...,Tue Jun 12 08:59:04 -0700 2012,Fri Jun 15 11:41:12 -0700 2012,,,0,...,9780151686568,8,Illustrated Edition,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats
1,408ad43536dd5340cf6f955fc44f8014,402128,b4499b5b99b4462b2ebdb883561cf6b3,3,Although T.S. Eliot displays his complete mast...,Sat Dec 28 07:30:50 -0800 2013,Sat Dec 28 07:35:21 -0800 2013,Fri Dec 27 00:00:00 -0800 2013,,0,...,9780151686568,8,Illustrated Edition,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats
2,a93cf495a6ec60a24ed11c1ae6f45aa9,402128,a87527ad1fe429dc41cc332723fb91de,3,"Eh, as an avid cat lover I was a little disapp...",Thu Jun 21 18:01:08 -0700 2012,Wed Jun 12 14:32:42 -0700 2013,Wed Jun 12 14:32:42 -0700 2013,Wed Jun 12 00:00:00 -0700 2013,0,...,9780151686568,8,Illustrated Edition,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats
3,8d742d4c7a925de61e1574884bd2985a,402128,5e77a73030136445dcc359de17bd3e6a,5,This one was given to me for my graduation fro...,Sun May 18 21:10:26 -0700 2008,Sun May 18 21:15:35 -0700 2008,,,0,...,9780151686568,8,Illustrated Edition,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats
4,d4f1cec123612b1bfc04752fa0c190ab,402128,8521d4c827321716b81d1d36bf9a6f6e,5,I love cats and T.S Elliot. Why I have never r...,Sat Jul 16 11:33:49 -0700 2016,Thu Aug 18 20:26:59 -0700 2016,Thu Aug 18 00:00:00 -0700 2016,Tue Aug 16 00:00:00 -0700 2016,3,...,9780151686568,8,Illustrated Edition,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats

In [79]:
poetry_df.shape

(154555, 39)

In [80]:
poetry_df.columns

Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments', 'isbn', 'text_reviews_count', 'series', 'country_code',
       'language_code', 'popular_shelves', 'asin', 'is_ebook',
       'average_rating', 'kindle_asin', 'similar_books', 'description',
       'format', 'link', 'authors', 'publisher', 'num_pages',
       'publication_day', 'isbn13', 'publication_month', 'edition_information',
       'publication_year', 'url', 'image_url', 'ratings_count', 'work_id',
       'title', 'title_without_series'],
      dtype='object')

## Genre Info

In [81]:
poetry_df = pd.merge(poetry_df, genres_df)
poetry_df['Genre_Tag'] = 'poetry'
poetry_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,...,edition_information,publication_year,url,image_url,ratings_count,work_id,title,title_without_series,genres,Genre_Tag
0,3ca7375dba942a760e53b726c472a7dd,402128,28423ff309bc896c071a8d9df4a10e8a,5,I have three younger siblings and we grew up w...,Tue Jun 12 08:59:04 -0700 2012,Fri Jun 15 11:41:12 -0700 2012,,,0,...,Illustrated Edition,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry
1,408ad43536dd5340cf6f955fc44f8014,402128,b4499b5b99b4462b2ebdb883561cf6b3,3,Although T.S. Eliot displays his complete mast...,Sat Dec 28 07:30:50 -0800 2013,Sat Dec 28 07:35:21 -0800 2013,Fri Dec 27 00:00:00 -0800 2013,,0,...,Illustrated Edition,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry
2,a93cf495a6ec60a24ed11c1ae6f45aa9,402128,a87527ad1fe429dc41cc332723fb91de,3,"Eh, as an avid cat lover I was a little disapp...",Thu Jun 21 18:01:08 -0700 2012,Wed Jun 12 14:32:42 -0700 2013,Wed Jun 12 14:32:42 -0700 2013,Wed Jun 12 00:00:00 -0700 2013,0,...,Illustrated Edition,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry
3,8d742d4c7a925de61e1574884bd2985a,402128,5e77a73030136445dcc359de17bd3e6a,5,This one was given to me for my graduation fro...,Sun May 18 21:10:26 -0700 2008,Sun May 18 21:15:35 -0700 2008,,,0,...,Illustrated Edition,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry
4,d4f1cec123612b1bfc04752fa0c190ab,402128,8521d4c827321716b81d1d36bf9a6f6e,5,I love cats and T.S Elliot. Why I have never r...,Sat Jul 16 11:33:49 -0700 2016,Thu Aug 18 20:26:59 -0700 2016,Thu Aug 18 00:00:00 -0700 2016,Tue Aug 16 00:00:00 -0700 2016,3,...,Illustrated Edition,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry

## Author Info

In [82]:
poetry_authors = list(poetry_df.index.map(lambda x: poetry_df.authors.iloc[x][0]))
list(poetry_authors[0].values())[0]

'18540'

In [83]:
poetry_df['author_id'] = poetry_df.index.map(lambda x: int(list(poetry_authors[x].values())[0]))
poetry_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,...,publication_year,url,image_url,ratings_count,work_id,title,title_without_series,genres,Genre_Tag,author_id
0,3ca7375dba942a760e53b726c472a7dd,402128,28423ff309bc896c071a8d9df4a10e8a,5,I have three younger siblings and we grew up w...,Tue Jun 12 08:59:04 -0700 2012,Fri Jun 15 11:41:12 -0700 2012,,,0,...,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry,18540
1,408ad43536dd5340cf6f955fc44f8014,402128,b4499b5b99b4462b2ebdb883561cf6b3,3,Although T.S. Eliot displays his complete mast...,Sat Dec 28 07:30:50 -0800 2013,Sat Dec 28 07:35:21 -0800 2013,Fri Dec 27 00:00:00 -0800 2013,,0,...,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry,18540
2,a93cf495a6ec60a24ed11c1ae6f45aa9,402128,a87527ad1fe429dc41cc332723fb91de,3,"Eh, as an avid cat lover I was a little disapp...",Thu Jun 21 18:01:08 -0700 2012,Wed Jun 12 14:32:42 -0700 2013,Wed Jun 12 14:32:42 -0700 2013,Wed Jun 12 00:00:00 -0700 2013,0,...,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry,18540
3,8d742d4c7a925de61e1574884bd2985a,402128,5e77a73030136445dcc359de17bd3e6a,5,This one was given to me for my graduation fro...,Sun May 18 21:10:26 -0700 2008,Sun May 18 21:15:35 -0700 2008,,,0,...,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry,18540
4,d4f1cec123612b1bfc04752fa0c190ab,402128,8521d4c827321716b81d1d36bf9a6f6e,5,I love cats and T.S Elliot. Why I have never r...,Sat Jul 16 11:33:49 -0700 2016,Thu Aug 18 20:26:59 -0700 2016,Thu Aug 18 00:00:00 -0700 2016,Tue Aug 16 00:00:00 -0700 2016,3,...,1982,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry,18540

In [84]:
poetry_df.authors.iloc[0]

[{'author_id': '18540', 'role': ''}, {'author_id': '21578', 'role': 'Illustrator'}]

In [85]:
poetry_df = pd.merge(poetry_df, authors_df)

In [86]:
poetry_df.shape

(154555, 43)

## Language Filtering

In [87]:
english = (poetry_df.language_code == 'eng') | (poetry_df.language_code == 'en-GB') | (poetry_df.language_code == 'en-US') | (poetry_df.language_code == 'en-CA')
poetry_df = poetry_df[english]
poetry_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,...,url,image_url,ratings_count,work_id,title,title_without_series,genres,Genre_Tag,author_id,name
0,3ca7375dba942a760e53b726c472a7dd,402128,28423ff309bc896c071a8d9df4a10e8a,5,I have three younger siblings and we grew up w...,Tue Jun 12 08:59:04 -0700 2012,Fri Jun 15 11:41:12 -0700 2012,,,0,...,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry,18540,T.S. Eliot
1,408ad43536dd5340cf6f955fc44f8014,402128,b4499b5b99b4462b2ebdb883561cf6b3,3,Although T.S. Eliot displays his complete mast...,Sat Dec 28 07:30:50 -0800 2013,Sat Dec 28 07:35:21 -0800 2013,Fri Dec 27 00:00:00 -0800 2013,,0,...,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry,18540,T.S. Eliot
2,a93cf495a6ec60a24ed11c1ae6f45aa9,402128,a87527ad1fe429dc41cc332723fb91de,3,"Eh, as an avid cat lover I was a little disapp...",Thu Jun 21 18:01:08 -0700 2012,Wed Jun 12 14:32:42 -0700 2013,Wed Jun 12 14:32:42 -0700 2013,Wed Jun 12 00:00:00 -0700 2013,0,...,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry,18540,T.S. Eliot
3,8d742d4c7a925de61e1574884bd2985a,402128,5e77a73030136445dcc359de17bd3e6a,5,This one was given to me for my graduation fro...,Sun May 18 21:10:26 -0700 2008,Sun May 18 21:15:35 -0700 2008,,,0,...,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry,18540,T.S. Eliot
4,d4f1cec123612b1bfc04752fa0c190ab,402128,8521d4c827321716b81d1d36bf9a6f6e,5,I love cats and T.S Elliot. Why I have never r...,Sat Jul 16 11:33:49 -0700 2016,Thu Aug 18 20:26:59 -0700 2016,Thu Aug 18 00:00:00 -0700 2016,Tue Aug 16 00:00:00 -0700 2016,3,...,https://www.goodreads.com/book/show/402128.Old...,https://images.gr-assets.com/books/1327882662m...,15716,372536,Old Possum's Book of Practical Cats,Old Possum's Book of Practical Cats,"{'poetry': 1785, 'fiction': 161, 'children': 2...",poetry,18540,T.S. Eliot

In [88]:
poetry_df.shape

(66394, 43)

## Formatting

In [89]:
poetry_short = poetry_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
poetry_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
poetry_short = poetry_short[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
poetry_short.head()

,Text,Rating,Title,Author,Category,Genres,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
0,I have three younger siblings and we grew up w...,5,Old Possum's Book of Practical Cats,T.S. Eliot,poetry,"{'poetry': 1785, 'fiction': 161, 'children': 2...",en-US,56,1982,4.09,15716,3ca7375dba942a760e53b726c472a7dd
1,Although T.S. Eliot displays his complete mast...,3,Old Possum's Book of Practical Cats,T.S. Eliot,poetry,"{'poetry': 1785, 'fiction': 161, 'children': 2...",en-US,56,1982,4.09,15716,408ad43536dd5340cf6f955fc44f8014
2,"Eh, as an avid cat lover I was a little disapp...",3,Old Possum's Book of Practical Cats,T.S. Eliot,poetry,"{'poetry': 1785, 'fiction': 161, 'children': 2...",en-US,56,1982,4.09,15716,a93cf495a6ec60a24ed11c1ae6f45aa9
3,This one was given to me for my graduation fro...,5,Old Possum's Book of Practical Cats,T.S. Eliot,poetry,"{'poetry': 1785, 'fiction': 161, 'children': 2...",en-US,56,1982,4.09,15716,8d742d4c7a925de61e1574884bd2985a
4,I love cats and T.S Elliot. Why I have never r...,5,Old Possum's Book of Practical Cats,T.S. Eliot,poetry,"{'poetry': 1785, 'fiction': 161, 'children': 2...",en-US,56,1982,4.09,15716,d4f1cec123612b1bfc04752fa0c190ab

In [90]:
poetry_short.shape

(66394, 12)

In [91]:
empty = (poetry_short.Text != '') & (poetry_short.Text != ' ') & (poetry_short.Rating != '') & (poetry_short.Rating != ' ')
print(poetry_short.shape)
print(poetry_short[empty].shape)
poetry_short = poetry_short[empty]

(66394, 12)
(66371, 12)

In [92]:
poetry_short.head()

,Text,Rating,Title,Author,Category,Genres,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
0,I have three younger siblings and we grew up w...,5,Old Possum's Book of Practical Cats,T.S. Eliot,poetry,"{'poetry': 1785, 'fiction': 161, 'children': 2...",en-US,56,1982,4.09,15716,3ca7375dba942a760e53b726c472a7dd
1,Although T.S. Eliot displays his complete mast...,3,Old Possum's Book of Practical Cats,T.S. Eliot,poetry,"{'poetry': 1785, 'fiction': 161, 'children': 2...",en-US,56,1982,4.09,15716,408ad43536dd5340cf6f955fc44f8014
2,"Eh, as an avid cat lover I was a little disapp...",3,Old Possum's Book of Practical Cats,T.S. Eliot,poetry,"{'poetry': 1785, 'fiction': 161, 'children': 2...",en-US,56,1982,4.09,15716,a93cf495a6ec60a24ed11c1ae6f45aa9
3,This one was given to me for my graduation fro...,5,Old Possum's Book of Practical Cats,T.S. Eliot,poetry,"{'poetry': 1785, 'fiction': 161, 'children': 2...",en-US,56,1982,4.09,15716,8d742d4c7a925de61e1574884bd2985a
4,I love cats and T.S Elliot. Why I have never r...,5,Old Possum's Book of Practical Cats,T.S. Eliot,poetry,"{'poetry': 1785, 'fiction': 161, 'children': 2...",en-US,56,1982,4.09,15716,d4f1cec123612b1bfc04752fa0c190ab

In [93]:
poetry_sample = poetry_short.sample(1000)
poetry_sample.head()

,Text,Rating,Title,Author,Category,Genres,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
13807,To Margaret Atwood: How do I love thee? Let me...,5,The Tent,Margaret Atwood,poetry,"{'fiction': 250, 'poetry': 96, 'non-fiction': ...",eng,159,2006,3.70,4214,21da8143316195ea38086f7983c05c28
46246,"Stunning, brilliant, breathtaking, etc. There ...",5,The Crossover,Kwame Alexander,poetry,"{'poetry': 817, 'young-adult': 748, 'fiction':...",eng,240,2014,4.22,23725,77e235a1aec67dc15044577fd71f322d
34957,Beautiful.,4,Milk and Honey,Rupi Kaur,poetry,"{'poetry': 1392, 'non-fiction': 615, 'romance'...",eng,204,2014,4.23,92450,fbce34c6437642eab2bbcde3c0865934
37366,(letter 8 was my favorite),5,Letters to a Young Poet,Rainer Maria Rilke,poetry,"{'poetry': 1451, 'non-fiction': 1141, 'fiction...",en-US,80,2002,4.34,25895,2aee862e807f807c50df40e0f9b3a95e
133266,"(lips, be silent) SPEAK, HEART and this time m...",5,"Speak, Heart: make them hear",Ralitsa Gencheva,poetry,"{'poetry': 6, 'romance': 1}",eng,71,2017,4.27,23,488ad19e14f49c880a45f19eb8f0600c

In [94]:
poetry_sample.shape

(1000, 12)

In [95]:
share_df = pd.concat([children_share, poetry_share])

In [96]:
share_df

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,Tue Nov 17 11:37:35 -0800 2015,Tue Nov 17 11:38:05 -0800 2015,,,7,0
1,8842281e1d1347389f2ab93d60773d4d,17290220,22d424a2b0057b18fb6ecf017af7be92,5,One of my favorite books to read to my 5 year ...,Sat Nov 08 08:54:03 -0800 2014,Wed Jan 25 13:56:12 -0800 2017,Tue Jan 24 00:00:00 -0800 2017,,4,0
2,8842281e1d1347389f2ab93d60773d4d,6954929,50ed4431c451d5677d98dd25ca8ec106,5,One of the best and most imaginative childrens...,Thu Oct 23 13:46:20 -0700 2014,Thu Oct 23 13:47:00 -0700 2014,,,6,1
3,8842281e1d1347389f2ab93d60773d4d,460548,1e4de11dd4fa4b7ffa59b6c69a6b28e9,5,My daughter is loving this. Published in the 6...,Mon Dec 02 10:43:59 -0800 2013,Wed Mar 22 11:47:25 -0700 2017,,,5,4
4,8842281e1d1347389f2ab93d60773d4d,11474551,2065145714bf747083a1c9ce81d5c4fe,5,A friend sent me this. Hilarious!,Wed May 11 22:38:11 -0700 2011,Sun Jan 29 15:56:41 -0800 2012,Wed May 11 00:00:00 -0700 2011,Wed May 11 00:00:00 -0700 2011,5,0
0,3ca7375dba942a760e53b726c472a7dd,402128,28423ff309bc896c071a8d9df4a10e8a,5,I have three younger siblings and we grew up w...,Tue Jun 12 08:59:04 -0700 2012,Fri Jun 15 11:41:12 -0700 2012,,,0,0
1,0ef32090550901ead25cb0ea21c4d36b,92270,2db1180992e2b0b1631a3ac5644bde84,5,This is my favorite collection of poetry.,Mon Apr 14 18:42:40 -0700 2014,Mon Apr 14 18:43:05 -0700 2014,Wed Jan 01 00:00:00 -0800 1997,,0,0
2,0ef32090550901ead25cb0ea21c4d36b,908708,bca57fa40e92c9261b00b03dbebd96fe,4,"He's so disturbing. So very, very disturbing.",Tue Apr 22 13:58:10 -0700 2008,Tue Apr 22 13:58:33 -0700 2008,,,0,0
3,d37b46b2190ed7c518259f29b47a9b36,253264,cb1ebc02d8b2aff15735d513877463ce,5,I just reread this play for a class I am takin...,Wed Sep 27 19:08:08 -0700 2017,Sat Sep 30 06:39:45 -0700 2017,Wed Sep 27 00:00:00 -0700 2017,Tue Sep 26 00:00:00 -0700 2017,1,0
4,af157d0205b8a901dee6d4a2aed7e6ad,70885,8dca128b8e869048a7442c18659dbece,5,"Cuanto mas leo, mas me gusta. Su poesia es env...",Thu Jun 18 20:00:03 -0700 2015,Thu Jun 18 20:01:29 -0700 2015,Thu Jun 18 00:00:00 -0700 2015,Tue Jun 16 00:00:00 -0700 2015,0,0

# Comics
## Reviews

In [97]:
comics_reviews = pd.read_json('data/Reviews/goodreads_reviews_comics_graphic.json', lines=True)

In [98]:
comics_reviews.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,dc3763cdb9b2cae805882878eebb6a32,18471619,66b2ba840f9bd36d6d27f46136fe4772,3,Sherlock Holmes and the Vampires of London \n ...,Thu Dec 05 10:44:25 -0800 2013,Thu Dec 05 10:45:15 -0800 2013,Tue Nov 05 00:00:00 -0800 2013,,0,0
1,bafc2d50014200cda7cb2b6acd60cd73,6315584,72f1229aba5a88f9e72f0dcdc007dd22,4,"I've never really liked Spider-Man. I am, howe...",Wed Aug 10 06:06:48 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,Wed Aug 10 00:00:00 -0700 2016,0,0
2,bafc2d50014200cda7cb2b6acd60cd73,29847729,a75309355f8662caaa5e2c92ab693d3f,4,"A very quick introduction, this is coming out ...",Thu Apr 21 07:44:00 -0700 2016,Thu Apr 21 07:59:28 -0700 2016,Thu Apr 21 07:59:28 -0700 2016,Thu Apr 21 00:00:00 -0700 2016,0,0
3,bafc2d50014200cda7cb2b6acd60cd73,18454118,c3cc5a3e1d6b6c9cf1c044f306c8e752,5,I've been waiting so long for this. I first st...,Mon Mar 03 17:45:56 -0800 2014,Mon Mar 03 17:54:11 -0800 2014,Sat Mar 01 00:00:00 -0800 2014,Sat Mar 01 00:00:00 -0800 2014,1,0
4,bafc2d50014200cda7cb2b6acd60cd73,2239435,cc444be37ab0a42bfb4dd818cb5edd10,4,The only thing more entertaining than this boo...,Wed Apr 03 12:37:48 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,,0,0

In [99]:
print(comics_reviews.shape)
print(comics_reviews.info())

(542338, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542338 entries, 0 to 542337
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       542338 non-null  object
 1   book_id       542338 non-null  int64
 2   review_id     542338 non-null  object
 3   rating        542338 non-null  int64
 4   review_text   542338 non-null  object
 5   date_added    542338 non-null  object
 6   date_updated  542338 non-null  object
 7   read_at       542338 non-null  object
 8   started_at    542338 non-null  object
 9   n_votes       542338 non-null  int64
 10  n_comments    542338 non-null  int64
dtypes: int64(4), object(7)
memory usage: 45.5+ MB
None

## Book Info

In [100]:
comics_books = pd.read_json('data/Books/goodreads_books_comics_graphic.json', lines=True)
comics_books.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,,1,[],US,,"[{'count': '228', 'name': 'to-read'}, {'count'...",B00NLXQ534,true,4.12,,...,,,,https://www.goodreads.com/book/show/25742454-t...,https://s.gr-assets.com/assets/nophoto/book/11...,25742454,1,42749946,The Switchblade Mamma,The Switchblade Mamma
1,2205073346,2,[],US,fre,"[{'count': '2', 'name': 'bd'}, {'count': '2', ...",,false,3.94,,...,1,,2016,https://www.goodreads.com/book/show/30128855-c...,https://images.gr-assets.com/books/1462644346m...,30128855,16,50558228,Cruelle,Cruelle
2,,5,"[246830, 362583, 362581, 623032]",US,eng,"[{'count': '493', 'name': 'to-read'}, {'count'...",,false,4.28,,...,,,2012,https://www.goodreads.com/book/show/13571772-c...,https://images.gr-assets.com/books/1333287305m...,13571772,51,102217,Captain America: Winter Soldier (The Ultimate ...,Captain America: Winter Soldier (The Ultimate ...
3,,1,[],US,eng,"[{'count': '222', 'name': 'to-read'}, {'count'...",B06XKGGSB7,true,4.05,B06XKGGSB7,...,,,,https://www.goodreads.com/book/show/35452242-b...,https://s.gr-assets.com/assets/nophoto/book/11...,35452242,6,54276229,Bounty Hunter 4/3: My Life in Combat from Mari...,Bounty Hunter 4/3: My Life in Combat from Mari...
4,0930289765,6,"[266759, 1096220]",US,en-US,"[{'count': '20', 'name': 'to-read'}, {'count':...",,false,4.06,,...,11,,1997,https://www.goodreads.com/book/show/707611.Sup...,https://images.gr-assets.com/books/1307838888m...,707611,51,693886,"Superman Archives, Vol. 2","Superman Archives, Vol. 2"

In [101]:
comics_books.country_code.value_counts()

US    89411
Name: country_code, dtype: int64

In [102]:
comics_df = pd.merge(comics_reviews, comics_books, on='book_id')
comics_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,...,isbn13,publication_month,edition_information,publication_year,url,image_url,ratings_count,work_id,title,title_without_series
0,dc3763cdb9b2cae805882878eebb6a32,18471619,66b2ba840f9bd36d6d27f46136fe4772,3,Sherlock Holmes and the Vampires of London \n ...,Thu Dec 05 10:44:25 -0800 2013,Thu Dec 05 10:45:15 -0800 2013,Tue Nov 05 00:00:00 -0800 2013,,0,...,9781616552664,2,,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...
1,eaa54d876d841293059657fb80a9bba6,18471619,7dffb165871ddb916f2e0929981113b8,2,A graphic novel featuring Sherlock Holmes up a...,Sun Apr 06 07:21:47 -0700 2014,Sun Apr 06 08:16:01 -0700 2014,Sun Apr 06 13:08:40 -0700 2014,,7,...,9781616552664,2,,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...
2,da7a0c5ee0c89973224d8853445be68e,18471619,fad5f331499030af4f04f78183983235,3,12/31/13 Not as terrible as you might think. F...,Mon Dec 30 23:29:46 -0800 2013,Mon Feb 17 10:18:41 -0800 2014,Tue Dec 31 00:00:00 -0800 2013,Tue Dec 31 00:00:00 -0800 2013,0,...,9781616552664,2,,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...
3,41b1c110d428bbc49481036e896c0a6f,18471619,09c342f31b94ee8f08c11578d8e3b370,2,Accepting as fact vampires are real with no ba...,Wed Aug 12 06:46:34 -0700 2015,Wed Aug 12 06:48:23 -0700 2015,Wed Aug 12 06:48:23 -0700 2015,,0,...,9781616552664,2,,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...
4,d7310760f68365d3ca747fa8b9310518,18471619,96a5d05b6847875a49c3802ee469a2bd,2,This graphic novel has Sherlock Holmes taking ...,Sun Jan 05 17:29:51 -0800 2014,Tue Jan 07 08:30:24 -0800 2014,Sun Jan 05 00:00:00 -0800 2014,Sun Jan 05 00:00:00 -0800 2014,0,...,9781616552664,2,,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...

In [103]:
print(comics_df.shape)
print(comics_df.columns)

(542338, 39)
Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments', 'isbn', 'text_reviews_count', 'series', 'country_code',
       'language_code', 'popular_shelves', 'asin', 'is_ebook',
       'average_rating', 'kindle_asin', 'similar_books', 'description',
       'format', 'link', 'authors', 'publisher', 'num_pages',
       'publication_day', 'isbn13', 'publication_month', 'edition_information',
       'publication_year', 'url', 'image_url', 'ratings_count', 'work_id',
       'title', 'title_without_series'],
      dtype='object')

## Genre Info

In [104]:
comics_df = pd.merge(comics_df, genres_df)
comics_df['Genre_Tag'] = 'comics_graphic'
comics_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,...,edition_information,publication_year,url,image_url,ratings_count,work_id,title,title_without_series,genres,Genre_Tag
0,dc3763cdb9b2cae805882878eebb6a32,18471619,66b2ba840f9bd36d6d27f46136fe4772,3,Sherlock Holmes and the Vampires of London \n ...,Thu Dec 05 10:44:25 -0800 2013,Thu Dec 05 10:45:15 -0800 2013,Tue Nov 05 00:00:00 -0800 2013,,0,...,,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic
1,eaa54d876d841293059657fb80a9bba6,18471619,7dffb165871ddb916f2e0929981113b8,2,A graphic novel featuring Sherlock Holmes up a...,Sun Apr 06 07:21:47 -0700 2014,Sun Apr 06 08:16:01 -0700 2014,Sun Apr 06 13:08:40 -0700 2014,,7,...,,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic
2,da7a0c5ee0c89973224d8853445be68e,18471619,fad5f331499030af4f04f78183983235,3,12/31/13 Not as terrible as you might think. F...,Mon Dec 30 23:29:46 -0800 2013,Mon Feb 17 10:18:41 -0800 2014,Tue Dec 31 00:00:00 -0800 2013,Tue Dec 31 00:00:00 -0800 2013,0,...,,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic
3,41b1c110d428bbc49481036e896c0a6f,18471619,09c342f31b94ee8f08c11578d8e3b370,2,Accepting as fact vampires are real with no ba...,Wed Aug 12 06:46:34 -0700 2015,Wed Aug 12 06:48:23 -0700 2015,Wed Aug 12 06:48:23 -0700 2015,,0,...,,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic
4,d7310760f68365d3ca747fa8b9310518,18471619,96a5d05b6847875a49c3802ee469a2bd,2,This graphic novel has Sherlock Holmes taking ...,Sun Jan 05 17:29:51 -0800 2014,Tue Jan 07 08:30:24 -0800 2014,Sun Jan 05 00:00:00 -0800 2014,Sun Jan 05 00:00:00 -0800 2014,0,...,,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic

## Author Info

In [105]:
comics_authors = list(comics_df.index.map(lambda x: comics_df.authors.iloc[x][0]))
list(comics_authors[0].values())[0]

'1152914'

In [106]:
comics_df['author_id'] = comics_df.index.map(lambda x: int(list(comics_authors[x].values())[0]))
comics_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,...,publication_year,url,image_url,ratings_count,work_id,title,title_without_series,genres,Genre_Tag,author_id
0,dc3763cdb9b2cae805882878eebb6a32,18471619,66b2ba840f9bd36d6d27f46136fe4772,3,Sherlock Holmes and the Vampires of London \n ...,Thu Dec 05 10:44:25 -0800 2013,Thu Dec 05 10:45:15 -0800 2013,Tue Nov 05 00:00:00 -0800 2013,,0,...,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic,1152914
1,eaa54d876d841293059657fb80a9bba6,18471619,7dffb165871ddb916f2e0929981113b8,2,A graphic novel featuring Sherlock Holmes up a...,Sun Apr 06 07:21:47 -0700 2014,Sun Apr 06 08:16:01 -0700 2014,Sun Apr 06 13:08:40 -0700 2014,,7,...,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic,1152914
2,da7a0c5ee0c89973224d8853445be68e,18471619,fad5f331499030af4f04f78183983235,3,12/31/13 Not as terrible as you might think. F...,Mon Dec 30 23:29:46 -0800 2013,Mon Feb 17 10:18:41 -0800 2014,Tue Dec 31 00:00:00 -0800 2013,Tue Dec 31 00:00:00 -0800 2013,0,...,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic,1152914
3,41b1c110d428bbc49481036e896c0a6f,18471619,09c342f31b94ee8f08c11578d8e3b370,2,Accepting as fact vampires are real with no ba...,Wed Aug 12 06:46:34 -0700 2015,Wed Aug 12 06:48:23 -0700 2015,Wed Aug 12 06:48:23 -0700 2015,,0,...,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic,1152914
4,d7310760f68365d3ca747fa8b9310518,18471619,96a5d05b6847875a49c3802ee469a2bd,2,This graphic novel has Sherlock Holmes taking ...,Sun Jan 05 17:29:51 -0800 2014,Tue Jan 07 08:30:24 -0800 2014,Sun Jan 05 00:00:00 -0800 2014,Sun Jan 05 00:00:00 -0800 2014,0,...,2014,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic,1152914

In [107]:
comics_df = pd.merge(comics_df, authors_df)
print(comics_df.shape)

(542338, 43)

## Langauge Filtering

In [108]:
english = (comics_df.language_code == 'eng') | (comics_df.language_code == 'en-GB') | (comics_df.language_code == 'en-US') | (comics_df.language_code == 'en-CA')
comics_df = comics_df[english]
comics_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,...,url,image_url,ratings_count,work_id,title,title_without_series,genres,Genre_Tag,author_id,name
0,dc3763cdb9b2cae805882878eebb6a32,18471619,66b2ba840f9bd36d6d27f46136fe4772,3,Sherlock Holmes and the Vampires of London \n ...,Thu Dec 05 10:44:25 -0800 2013,Thu Dec 05 10:45:15 -0800 2013,Tue Nov 05 00:00:00 -0800 2013,,0,...,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic,1152914,Sylvain Cordurie
1,eaa54d876d841293059657fb80a9bba6,18471619,7dffb165871ddb916f2e0929981113b8,2,A graphic novel featuring Sherlock Holmes up a...,Sun Apr 06 07:21:47 -0700 2014,Sun Apr 06 08:16:01 -0700 2014,Sun Apr 06 13:08:40 -0700 2014,,7,...,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic,1152914,Sylvain Cordurie
2,da7a0c5ee0c89973224d8853445be68e,18471619,fad5f331499030af4f04f78183983235,3,12/31/13 Not as terrible as you might think. F...,Mon Dec 30 23:29:46 -0800 2013,Mon Feb 17 10:18:41 -0800 2014,Tue Dec 31 00:00:00 -0800 2013,Tue Dec 31 00:00:00 -0800 2013,0,...,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic,1152914,Sylvain Cordurie
3,41b1c110d428bbc49481036e896c0a6f,18471619,09c342f31b94ee8f08c11578d8e3b370,2,Accepting as fact vampires are real with no ba...,Wed Aug 12 06:46:34 -0700 2015,Wed Aug 12 06:48:23 -0700 2015,Wed Aug 12 06:48:23 -0700 2015,,0,...,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic,1152914,Sylvain Cordurie
4,d7310760f68365d3ca747fa8b9310518,18471619,96a5d05b6847875a49c3802ee469a2bd,2,This graphic novel has Sherlock Holmes taking ...,Sun Jan 05 17:29:51 -0800 2014,Tue Jan 07 08:30:24 -0800 2014,Sun Jan 05 00:00:00 -0800 2014,Sun Jan 05 00:00:00 -0800 2014,0,...,https://www.goodreads.com/book/show/18471619-s...,https://images.gr-assets.com/books/1403199402m...,181,26138172,Sherlock Holmes and the Vampires of London (Sh...,Sherlock Holmes and the Vampires of London (Sh...,"{'comics, graphic': 71, 'mystery, thriller, cr...",comics_graphic,1152914,Sylvain Cordurie

## Formatting

In [109]:
comics_short = comics_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
comics_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
comics_short = comics_short[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
comics_short.head()

,Text,Rating,Title,Author,Category,Genres,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
0,Sherlock Holmes and the Vampires of London \n ...,3,Sherlock Holmes and the Vampires of London (Sh...,Sylvain Cordurie,comics_graphic,"{'comics, graphic': 71, 'mystery, thriller, cr...",eng,93,2014,3.26,181,dc3763cdb9b2cae805882878eebb6a32
1,A graphic novel featuring Sherlock Holmes up a...,2,Sherlock Holmes and the Vampires of London (Sh...,Sylvain Cordurie,comics_graphic,"{'comics, graphic': 71, 'mystery, thriller, cr...",eng,93,2014,3.26,181,eaa54d876d841293059657fb80a9bba6
2,12/31/13 Not as terrible as you might think. F...,3,Sherlock Holmes and the Vampires of London (Sh...,Sylvain Cordurie,comics_graphic,"{'comics, graphic': 71, 'mystery, thriller, cr...",eng,93,2014,3.26,181,da7a0c5ee0c89973224d8853445be68e
3,Accepting as fact vampires are real with no ba...,2,Sherlock Holmes and the Vampires of London (Sh...,Sylvain Cordurie,comics_graphic,"{'comics, graphic': 71, 'mystery, thriller, cr...",eng,93,2014,3.26,181,41b1c110d428bbc49481036e896c0a6f
4,This graphic novel has Sherlock Holmes taking ...,2,Sherlock Holmes and the Vampires of London (Sh...,Sylvain Cordurie,comics_graphic,"{'comics, graphic': 71, 'mystery, thriller, cr...",eng,93,2014,3.26,181,d7310760f68365d3ca747fa8b9310518

In [110]:
comics_short.shape

(385752, 12)

In [111]:
empty = (comics_short.Text != '') & (comics_short.Text != ' ') & (comics_short.Rating != '') & (comics_short.Rating != ' ')
print(comics_short.shape)
print(comics_short[empty].shape)
comics_short = comics_short[empty]

(385752, 12)
(385560, 12)

In [112]:
comics_sample = comics_short.sample(1000)
print(comics_sample.shape)
comics_sample.head()

(1000, 12)

,Text,Rating,Title,Author,Category,Genres,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
395320,This appears to be the last Gronk. Which makes...,5,"Gronk Volume 4 (Gronk, #4)",Katie Cook,comics_graphic,"{'comics, graphic': 26, 'fantasy, paranormal':...",eng,64,2015,3.91,31,5f58b2c840ce3db7dcdf1be4ab3d5cef
46061,An impressive and unusual illustrated memoir t...,0,The Complete Persepolis,Marjane Satrapi,comics_graphic,"{'comics, graphic': 7693, 'non-fiction': 1811,...",en-US,341,,4.36,73851,60774fe001fdb7bb551d8db8a244d392
15164,I wish I'd read this back when it was first pu...,3,Watchmen,Alan Moore,comics_graphic,"{'comics, graphic': 15628, 'fiction': 2766, 'f...",en-US,416,2005,4.35,406669,bf96a90c559c49f45f32115a58f45c86
416801,this isn't easy to review as the book isn't th...,3,Polarity,Max Bemis,comics_graphic,"{'comics, graphic': 162, 'fiction': 7, 'fantas...",eng,112,2013,3.72,494,b6240092710025c7895e133bb247b9ab
146734,"An excellent read from Kirkman and Azaceta, So...",4,"Outcast, Vol. 1: A Darkness Surrounds Him",Robert Kirkman,comics_graphic,"{'comics, graphic': 1000, 'fiction': 41, 'fant...",eng,152,2015,3.83,5381,3237ec965cc6c5e1b7fbda11e6b29b81

# Romance
## Reviews

In [113]:
romance_reviews = pd.read_json('data/Reviews/goodreads_reviews_romance.json', lines=True)

KeyboardInterrupt:

In [ ]:
romance_reviews.head()

In [ ]:
print(romance_reviews.shape)
print(romance_reviews.info())

## Book Info

In [ ]:
romance_books = pd.read_json('data/Books/goodreads_books_romance.json', lines=True)
romance_books.head()

In [ ]:
romance_books.country_code.value_counts()

In [ ]:
romance_df = pd.merge(romance_reviews, romance_books, on='book_id')
romance_df.head()

In [ ]:
print(romance_df.shape)
print(romance_df.columns)

## Genre Info

In [ ]:
romance_df = pd.merge(romance_df, genres_df)
romance_df['Genre_Tag'] = 'romance'
romance_df.head()

## Author Info

In [ ]:
romance_authors = list(romance_df.index.map(lambda x: romance_df.authors.iloc[x][0]))
list(romance_authors[0].values())[0]

In [ ]:
romance_df['author_id'] = romance_df.index.map(lambda x: int(list(romance_authors[x].values())[0]))
romance_df.head()

In [ ]:
romance_df = pd.merge(romance_df, authors_df)
print(romance_df.shape)

## Langauge Filtering

In [ ]:
english = (romance_df.language_code == 'eng') | (romance_df.language_code == 'en-GB') | (romance_df.language_code == 'en-US') | (romance_df.language_code == 'en-CA')
romance_df = romance_df[english]
romance_df.head()

## Formatting

In [ ]:
romance_short = romance_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
romance_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
romance_short = romance_short[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
romance_short.head()

In [ ]:
romance_short.shape

In [ ]:
empty = (romance_short.Text != '') & (romance_short.Text != ' ') & (romance_short.Rating != '') & (romance_short.Rating != ' ')
print(romance_short.shape)
print(romance_short[empty].shape)
romance_short = romance_short[empty]

In [ ]:
romance_sample = romance_short.sample(1000)
print(romance_sample.shape)
romance_sample.head()

# Young Adult
## Reviews

In [ ]:
ya_reviews = pd.read_json('/Users/ashleyfeiler/Downloads/Goodreads_Data_Full/Reviews/goodreads_reviews_young_adult.json', lines=True)

In [ ]:
ya_reviews.head()

In [ ]:
print(ya_reviews.shape)
print(ya_reviews.info())

## Book Info

In [ ]:
ya_books = pd.read_json('/Users/ashleyfeiler/Downloads/Goodreads_Data_Full/Books/goodreads_books_young_adult.json', lines=True)
ya_books.head()

In [ ]:
ya_books.country_code.value_counts()

In [ ]:
ya_df = pd.merge(ya_reviews, ya_books, on='book_id')
ya_df.head()

In [ ]:
print(ya_df.shape)
print(ya_df.columns)

## Genre Info

In [ ]:
ya_df = pd.merge(ya_df, genres_df)
ya_df['Genre_Tag'] = 'ya'
ya_df.head()

## Author Info

In [ ]:
ya_authors = list(ya_df.index.map(lambda x: ya_df.authors.iloc[x][0]))
list(ya_authors[0].values())[0]

In [ ]:
ya_df['author_id'] = ya_df.index.map(lambda x: int(list(ya_authors[x].values())[0]))
ya_df.head()

In [ ]:
ya_df = pd.merge(ya_df, authors_df)
print(ya_df.shape)

## Langauge Filtering

In [ ]:
english = (ya_df.language_code == 'eng') | (ya_df.language_code == 'en-GB') | (ya_df.language_code == 'en-US') | (ya_df.language_code == 'en-CA')
ya_df = ya_df[english]
ya_df.head()

## Formatting

In [ ]:
ya_short = ya_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
ya_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
ya_short = ya_df[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
ya_short.head()

In [ ]:
ya_short.shape

In [ ]:
empty = (ya_short.Text != '') & (ya_short.Text != ' ') & (ya_short.Rating != '') & (ya_short.Rating != ' ')
print(ya_short.shape)
print(ya_short[empty].shape)
ya_short = ya_short[empty]

In [ ]:
ya_sample = ya_short.sample(1000)
print(ya_sample.shape)
ya_sample.head()

# Fantasy
## Reviews

In [ ]:
fantasy_reviews = pd.read_json('/Users/ashleyfeiler/Downloads/Goodreads_Data_Full/Reviews/goodreads_reviews_fantasy_paranormal.json', lines=True)

In [ ]:
fantasy_reviews.head()

In [ ]:
print(fantasy_reviews.shape)
print(fantasy_reviews.info())

## Book Info

In [ ]:
fantasy_books = pd.read_json('/Users/ashleyfeiler/Downloads/Goodreads_Data_Full/Books/goodreads_books_fantasy_paranormal.json', lines=True)
fantasy_books.head()

In [ ]:
fantasy_books.country_code.value_counts()

In [ ]:
fantasy_df = pd.merge(fantasy_reviews, fantasy_books, on='book_id')
fantasy_df.head()

In [ ]:
print(fantasy_df.shape)
print(fantasy_df.columns)

## Genre Info

In [ ]:
fantasy_df = pd.merge(fantasy_df, genres_df)
fantasy_df['Genre_Tag'] = 'fantasy_paranormal'
fantasy_df.head()

## Author Info

In [ ]:
fantasy_authors = list(fantasy_df.index.map(lambda x: fantasy_df.authors.iloc[x][0]))
list(fantasy_authors[0].values())[0]

In [ ]:
fantasy_df['author_id'] = fantasy_df.index.map(lambda x: int(list(fantasy_authors[x].values())[0]))
fantasy_df.head()

In [ ]:
fantasy_df = pd.merge(fantasy_df, authors_df)
print(fantasy_df.shape)

## Langauge Filtering

In [ ]:
english = (fantasy_df.language_code == 'eng') | (fantasy_df.language_code == 'en-GB') | (fantasy_df.language_code == 'en-US') | (fantasy_df.language_code == 'en-CA')
fantasy_df = fantasy_df[english]
fantasy_df.head()

## Formatting

In [ ]:
fantasy_short = fantasy_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
fantasy_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
fantasy_short = fantasy_df[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
fantasy_short.head()

In [ ]:
fantasy_short.shape

In [ ]:
empty = (fantasy_short.Text != '') & (fantasy_short.Text != ' ') & (fantasy_short.Rating != '') & (fantasy_short.Rating != ' ')
print(fantasy_short.shape)
print(fantasy_short[empty].shape)
fantasy_short = fantasy_short[empty]

In [ ]:
fantasy_sample = fantasy_short.sample(1000)
print(fantasy_sample.shape)
fantasy_sample.head()

# Mystery
## Reviews

In [ ]:
mystery_reviews = pd.read_json('/Users/ashleyfeiler/Downloads/Goodreads_Data_Full/Reviews/goodreads_reviews_mystery_thriller_crime.json', lines=True)

In [ ]:
mystery_reviews.head()

In [ ]:
print(mystery_reviews.shape)
print(mystery_reviews.info())

## Book Info

In [ ]:
mystery_books = pd.read_json('/Users/ashleyfeiler/Downloads/Goodreads_Data_Full/Books/goodreads_books_mystery_thriller_crime.json', lines=True)
mystery_books.head()

In [ ]:
mystery_books.country_code.value_counts()

In [ ]:
mystery_df = pd.merge(mystery_reveiws, mystery_books, on='book_id')
mystery_df.head()

In [ ]:
print(mystery_df.shape)
print(mystery_df.columns)

## Genre Info

In [ ]:
mystery_df = pd.merge(mystery_df, genres_df)
mystery_df['Genre_Tag'] = 'mystery_crime_thriller'
mystery_df.head()

## Author Info

In [ ]:
mystery_authors = list(mystery_df.index.map(lambda x: mystery_df.authors.iloc[x][0]))
list(mystery_authors[0].values())[0]

In [ ]:
mystery_df['author_id'] = mystery_df.index.map(lambda x: int(list(mystery_authors[x].values())[0]))
mystery_df.head()

In [ ]:
mystery_df = pd.merge(mystery_df, authors_df)
print(mystery_df.shape)

## Langauge Filtering

In [ ]:
english = (mystery_df.language_code == 'eng') | (mystery_df.language_code == 'en-GB') | (mystery_df.language_code == 'en-US') | (mystery_df.language_code == 'en-CA')
mystery_df = mystery_df[english]
mystery_df.head()

## Formatting

In [ ]:
mystery_short = mystery_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
mystery_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
mystery_short = mystery_df[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
mystery_short.head()

In [ ]:
mystery_short.shape

In [ ]:
empty = (mystery_short.Text != '') & (mystery_short.Text != ' ') & (mystery_short.Rating != '') & (mystery_short.Rating != ' ')
print(mystery_short.shape)
print(mystery_short[empty].shape)
mystery_short = mystery_short[empty]

In [ ]:
mystery_sample = mystery_short.sample(1000)
print(mystery_sample.shape)
mystery_sample.head()

# History
## Reviews

In [ ]:
history_df = pd.read_json('/Users/ashleyfeiler/Downloads/Goodreads_Data_Full/Reviews/goodreads_reviews_history_biography.json', lines=True)

In [ ]:
history_reviews.head()

In [ ]:
print(history_reviews.shape)
print(history_reviews.info())

## Book Info

In [ ]:
history_books = pd.read_json('/Users/ashleyfeiler/Downloads/Goodreads_Data_Full/Books/goodreads_books_history_biography.json', lines=True)
history_books.head()

In [ ]:
history_books.country_code.value_counts()

In [ ]:
history_df = pd.merge(history_reviews, history_books, on='book_id')
history_df.head()

In [ ]:
print(history_df.shape)
print(history_df.columns)

## Genre Info

In [ ]:
history_df = pd.merge(history_df, genres_df)
history_df['Genre_Tag'] = 'history_biography'
history_df.head()

## Author Info

In [ ]:
history_authors = list(history_df.index.map(lambda x: history_df.authors.iloc[x][0]))
list(history_authors[0].values())[0]

In [ ]:
history_df['author_id'] = history_df.index.map(lambda x: int(list(history_authors[x].values())[0]))
history_df.head()

In [ ]:
history_df = pd.merge(history_df, authors_df)
print(history_df.shape)

## Langauge Filtering

In [ ]:
english = (history_df.language_code == 'eng') | (history_df.language_code == 'en-GB') | (history_df.language_code == 'en-US') | (history_df.language_code == 'en-CA')
history_df = history_df[english]
history_df.head()

## Formatting

In [ ]:
history_short = history_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
history_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
history_short = history_df[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
history_short.head()

In [ ]:
history_short.shape

In [ ]:
empty = (history_short.Text != '') & (history_short.Text != ' ') & (history_short.Rating != '') & (history_short.Rating != ' ')
print(history_short.shape)
print(history_short[empty].shape)
history_short = history_short[empty]

In [ ]:
history_sample = history_short.sample(1000)
print(history_sample.shape)
history_sample.head()

# Save to CSV Files

In [90]:
#os.makedirs('data', exist_ok=True)  
#test_save.to_csv('data/test_save.csv')