In [1]:
import pandas as pd
%pprint

Pretty printing has been turned OFF

In [2]:
df = pd.read_json('/Users/ashleyfeiler/Desktop/Goodreads_Data/goodreads_reviews_children.json', lines=True)

In [3]:
df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,Tue Nov 17 11:37:35 -0800 2015,Tue Nov 17 11:38:05 -0800 2015,,,7,0
1,8842281e1d1347389f2ab93d60773d4d,17290220,22d424a2b0057b18fb6ecf017af7be92,5,One of my favorite books to read to my 5 year ...,Sat Nov 08 08:54:03 -0800 2014,Wed Jan 25 13:56:12 -0800 2017,Tue Jan 24 00:00:00 -0800 2017,,4,0
2,8842281e1d1347389f2ab93d60773d4d,6954929,50ed4431c451d5677d98dd25ca8ec106,5,One of the best and most imaginative childrens...,Thu Oct 23 13:46:20 -0700 2014,Thu Oct 23 13:47:00 -0700 2014,,,6,1
3,8842281e1d1347389f2ab93d60773d4d,460548,1e4de11dd4fa4b7ffa59b6c69a6b28e9,5,My daughter is loving this. Published in the 6...,Mon Dec 02 10:43:59 -0800 2013,Wed Mar 22 11:47:25 -0700 2017,,,5,4
4,8842281e1d1347389f2ab93d60773d4d,11474551,2065145714bf747083a1c9ce81d5c4fe,5,A friend sent me this. Hilarious!,Wed May 11 22:38:11 -0700 2011,Sun Jan 29 15:56:41 -0800 2012,Wed May 11 00:00:00 -0700 2011,Wed May 11 00:00:00 -0700 2011,5,0

In [4]:
df.shape

(734640, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734640 entries, 0 to 734639
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       734640 non-null  object
 1   book_id       734640 non-null  int64
 2   review_id     734640 non-null  object
 3   rating        734640 non-null  int64
 4   review_text   734640 non-null  object
 5   date_added    734640 non-null  object
 6   date_updated  734640 non-null  object
 7   read_at       734640 non-null  object
 8   started_at    734640 non-null  object
 9   n_votes       734640 non-null  int64
 10  n_comments    734640 non-null  int64
dtypes: int64(4), object(7)
memory usage: 61.7+ MB

In [6]:
reviews_df = df[['user_id', 'book_id', 'review_id', 'rating', 'review_text']]

In [7]:
reviews_df.head()

,user_id,book_id,review_id,rating,review_text
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.
1,8842281e1d1347389f2ab93d60773d4d,17290220,22d424a2b0057b18fb6ecf017af7be92,5,One of my favorite books to read to my 5 year ...
2,8842281e1d1347389f2ab93d60773d4d,6954929,50ed4431c451d5677d98dd25ca8ec106,5,One of the best and most imaginative childrens...
3,8842281e1d1347389f2ab93d60773d4d,460548,1e4de11dd4fa4b7ffa59b6c69a6b28e9,5,My daughter is loving this. Published in the 6...
4,8842281e1d1347389f2ab93d60773d4d,11474551,2065145714bf747083a1c9ce81d5c4fe,5,A friend sent me this. Hilarious!

In [8]:
books = pd.read_json('/Users/ashleyfeiler/Desktop/Goodreads_Data/goodreads_books_children.json', lines=True)

In [9]:
books.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,1599150603,7,[],US,,"[{'count': '56', 'name': 'to-read'}, {'count':...",,false,4.13,B00DU10PUG,...,9,,2006,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,287141,46,278578,The Aeneid for Boys and Girls,The Aeneid for Boys and Girls
1,1934876569,6,[151854],US,,"[{'count': '515', 'name': 'to-read'}, {'count'...",,false,4.22,,...,3,,2009,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,6066812,98,701117,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",,false,4.43,B017RORXNI,...,9,,1995,https://www.goodreads.com/book/show/89378.Dog_...,https://images.gr-assets.com/books/1360057676m...,89378,1331,86259,Dog Heaven,Dog Heaven
3,0915190575,4,[],US,,"[{'count': '8', 'name': 'to-read'}, {'count': ...",,false,4.29,,...,,,,https://www.goodreads.com/book/show/3209312-mo...,https://s.gr-assets.com/assets/nophoto/book/11...,3209312,11,3242879,"Moths and Mothers, Feathers and Fathers: A Sto...","Moths and Mothers, Feathers and Fathers: A Sto..."
4,1416904999,4,[],US,,"[{'count': '8', 'name': 'to-read'}, {'count': ...",,false,3.57,,...,6,,2005,https://www.goodreads.com/book/show/1698376.Wh...,https://s.gr-assets.com/assets/nophoto/book/11...,1698376,23,1695373,What Do You Do?,What Do You Do?

In [10]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124082 entries, 0 to 124081
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   isbn                  124082 non-null  object
 1   text_reviews_count    124082 non-null  int64
 2   series                124082 non-null  object
 3   country_code          124082 non-null  object
 4   language_code         124082 non-null  object
 5   popular_shelves       124082 non-null  object
 6   asin                  124082 non-null  object
 7   is_ebook              124082 non-null  object
 8   average_rating        124082 non-null  float64
 9   kindle_asin           124082 non-null  object
 10  similar_books         124082 non-null  object
 11  description           124082 non-null  object
 12  format                124082 non-null  object
 13  link                  124082 non-null  object
 14  authors               124082 non-null  object
 15  publisher             124082 non-null  object
 16  num_pages             124082 non-null  object
 17  publication_day       124082 non-null  object
 18  isbn13                124082 non-null  object
 19  publication_month     124082 non-null  object
 20  edition_information   124082 non-null  object
 21  publication_year      124082 non-null  object
 22  url                   124082 non-null  object
 23  image_url             124082 non-null  object
 24  book_id               124082 non-null  int64
 25  ratings_count         124082 non-null  int64
 26  work_id               124082 non-null  int64
 27  title                 124082 non-null  object
 28  title_without_series  124082 non-null  object
dtypes: float64(1), int64(4), object(24)
memory usage: 27.5+ MB

In [11]:
books_df = books[['text_reviews_count', 'series', 'country_code', 'language_code', 'is_ebook', 'average_rating', 'description', 'format', 'authors', 'publisher', 'num_pages', 'edition_information', 'publication_year', 'book_id', 'ratings_count', 'title', 'title_without_series']]

In [12]:
books_df.sample(10)

,text_reviews_count,series,country_code,language_code,is_ebook,average_rating,description,format,authors,publisher,num_pages,edition_information,publication_year,book_id,ratings_count,title,title_without_series
107541,7,[],US,tur,false,3.45,"Omer ve kardesi Hasan, cocukluklarini buyuk bi...",Paperback,"[{'author_id': '684330', 'role': ''}]",,128,,1992,13238322,1002,Kaşağı,Kaşağı
118306,4,[],US,,false,3.14,"Moon loves to make her best friend, Ollie, lau...",Hardcover,"[{'author_id': '4446568', 'role': ''}, {'autho...",Random House Books for Young Readers,32,,2012,12818326,8,Ollie & Moon: Fuhgeddaboudit!,Ollie & Moon: Fuhgeddaboudit!
118178,8,[443447],US,,false,3.91,"While their mother takes a nap, five mischievo...",Paperback,"[{'author_id': '4399', 'role': ''}]",HMH Books for Young Readers,32,,1993,391153,62,Five Little Monkeys Sitting in a Tree,Five Little Monkeys Sitting in a Tree
87427,1,[],US,,false,3.68,"Andreas und Dirk sind wirkliche Schatze, so ne...",Audible Audio,"[{'author_id': '655104', 'role': ''}, {'author...",,,,2013,30056494,1,Dirk und ich.,Dirk und ich.
111855,6,[],US,,false,3.76,"DING-LING-LING!\nThrough the hole.\nHurry, sli...",Board Book,"[{'author_id': '347264', 'role': ''}, {'author...",Henry Holt and Co. (BYR),30,,2015,22718760,18,"Firebears, the Rescue Team","Firebears, the Rescue Team"
76609,2,[],US,eng,false,4.26,From the best-selling author of Pig the Pug co...,Paperback,"[{'author_id': '1634014', 'role': ''}]",Scholastic Press,32,,2015,24750413,7,Thelma the Unicorn,Thelma the Unicorn
103032,4,[],US,,false,4.00,Join little Roo as he goes on the adventure of...,Paperback,"[{'author_id': '12351', 'role': ''}]",RH/Disney,24,,2005,1759302,21,Pooh's Heffalump Movie,Pooh's Heffalump Movie
21701,5,[],US,,false,3.92,"When Mama Frog and Father Frog disappear, two ...",Hardcover,"[{'author_id': '64055', 'role': ''}, {'author_...",Minedition,32,,2004,3634144,12,A Child Is a Child,A Child Is a Child
59444,6,[448371],US,,false,3.50,Helen is down in the dumps when her drawing do...,Hardcover,"[{'author_id': '122731', 'role': 'Series Creat...",HMH Books for Young Readers,24,,2012,13202111,43,Martha Speaks: Martha Bakes a Cake Reader,Martha Speaks: Martha Bakes a Cake Reader
64145,4,[210313],US,eng,false,3.87,,Audio CD,"[{'author_id': '20575', 'role': ''}]",,,,,7663552,8,The Neddiad,The Neddiad

In [13]:
books_df.country_code.value_counts()

US    124082
Name: country_code, dtype: int64

In [14]:
books_df.language_code.value_counts()

         72496
eng      30253
en-US     6197
en-GB     2071
spa       1501
         ...
egy          1
aze          1
mon          1
vls          1
nub          1
Name: language_code, Length: 90, dtype: int64

In [15]:
books_df.format.value_counts()

Hardcover                   51159
Paperback                   38880
                            21039
Board Book                   3214
ebook                        2423
                            ...
pop up book                     1
miekka (paperback)              1
Klappenbroschur                 1
three books in boxed set        1
Board Book Periodical           1
Name: format, Length: 209, dtype: int64

In [16]:
books_df.is_ebook.value_counts()

false    114606
true       9476
Name: is_ebook, dtype: int64

In [17]:
books_df = books[['text_reviews_count', 'series', 'language_code', 'is_ebook', 'average_rating', 'description', 'format', 'authors', 'publisher', 'num_pages', 'edition_information', 'publication_year', 'book_id', 'ratings_count', 'title', 'title_without_series']]

In [18]:
books_df.head()

,text_reviews_count,series,language_code,is_ebook,average_rating,description,format,authors,publisher,num_pages,edition_information,publication_year,book_id,ratings_count,title,title_without_series
0,7,[],,false,4.13,"Relates in vigorous prose the tale of Aeneas, ...",Paperback,"[{'author_id': '3041852', 'role': ''}]",Yesterday's Classics,162,,2006,287141,46,The Aeneid for Boys and Girls,The Aeneid for Boys and Girls
1,6,[151854],,false,4.22,"To Kara's astonishment, she discovers that a p...",Paperback,"[{'author_id': '19158', 'role': ''}]",Seven Seas,216,,2009,6066812,98,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...
2,193,[],eng,false,4.43,In Newbery Medalist Cynthia Rylant's classic b...,Hardcover,"[{'author_id': '5411', 'role': ''}]",Blue Sky Press,40,,1995,89378,1331,Dog Heaven,Dog Heaven
3,4,[],,false,4.29,,,"[{'author_id': '589328', 'role': ''}, {'author...",,,,,3209312,11,"Moths and Mothers, Feathers and Fathers: A Sto...","Moths and Mothers, Feathers and Fathers: A Sto..."
4,4,[],,false,3.57,WHAT DO YOU DO?\nA hen lays eggs...\nA cow giv...,Board Book,"[{'author_id': '169159', 'role': ''}]",Little Simon,24,,2005,1698376,23,What Do You Do?,What Do You Do?

In [19]:
reviews_df.loc[reviews_df['user_id'] == '8842281e1d1347389f2ab93d60773d4d']

,user_id,book_id,review_id,rating,review_text
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.
1,8842281e1d1347389f2ab93d60773d4d,17290220,22d424a2b0057b18fb6ecf017af7be92,5,One of my favorite books to read to my 5 year ...
2,8842281e1d1347389f2ab93d60773d4d,6954929,50ed4431c451d5677d98dd25ca8ec106,5,One of the best and most imaginative childrens...
3,8842281e1d1347389f2ab93d60773d4d,460548,1e4de11dd4fa4b7ffa59b6c69a6b28e9,5,My daughter is loving this. Published in the 6...
4,8842281e1d1347389f2ab93d60773d4d,11474551,2065145714bf747083a1c9ce81d5c4fe,5,A friend sent me this. Hilarious!
5,8842281e1d1347389f2ab93d60773d4d,304889,eb8a5303f86f1687f70754c8e7798d96,5,One of my favorite books as a kid!
6,8842281e1d1347389f2ab93d60773d4d,10365,b953295db05c923943006688ec81fbcb,5,Loved this book.
7,8842281e1d1347389f2ab93d60773d4d,14366,0680dc3f8aadd7f726c7486ec7701846,4,I *loved* this book when I was little.
8,8842281e1d1347389f2ab93d60773d4d,19543,191081e3eba11eef62a8bfe3cc523f90,5,I didn't want to add any children's books - bu...
9,8842281e1d1347389f2ab93d60773d4d,10959,8f7463f1f34c782de6eecfdc9b4cd51e,0,A friend of Elizabeth's I met at a party said ...

In [20]:
books.loc[books['book_id'] == 23310161]

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
17550,0399172750,1231,[751058],US,eng,"[{'count': '2078', 'name': 'to-read'}, {'count...",,false,4.43,B00O9A4ARQ,...,8,,2015,https://www.goodreads.com/book/show/23310161-t...,https://images.gr-assets.com/books/1448911756m...,23310161,8924,42864407,The Day the Crayons Came Home,The Day the Crayons Came Home

In [21]:
children_df = pd.merge(reviews_df, books_df)

In [22]:
children_df.head()

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,description,format,authors,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home

In [23]:
children_df.shape

(734640, 20)

In [24]:
children_df.describe()

,book_id,rating,text_reviews_count,average_rating,ratings_count
count,7.346400e+05,734640.000000,734640.000000,734640.000000,7.346400e+05
mean,9.520406e+06,3.818344,1709.167908,3.989250,5.636171e+04
std,1.002876e+07,1.240084,5983.247331,0.303137,2.199713e+05
min,5.000000e+00,0.000000,0.000000,0.000000,0.000000e+00
25%,4.324630e+05,3.000000,19.000000,3.830000,9.400000e+01
50%,6.411331e+06,4.000000,90.000000,4.010000,5.830000e+02
75%,1.734920e+07,5.000000,524.000000,4.190000,6.862000e+03
max,3.646988e+07,5.000000,49850.000000,5.000000,1.876252e+06

In [25]:
children_df.review_text[1]

"Great sequel! Lost crayons write their owner postcards from where they've been lost so they can get retrieved. Some of them have been through so much! \n Good for preschool storytimes."

In [26]:
children_df.review_text[10000]

'I\'m torn. Do I read it again immediately, or wait a few months? I need to do so at some point, because reading for the adventure & character dev. wasn\'t nearly enough. \n I love Oscar, and Callie, and the cats. I love the way Oscar (who seems slightly autistic) has an understanding of himself and the world that unfolds at the same pace for him as it did for me. I\'m truly spellbound by the poetic language and mysterious atmosphere. (Opening the book at a random early page finds Oscar in his master\'s library: "The shelves were so very much taller than he could ever dream of being, and Oscar firmly believed people shouldn\'t go any higher than they already were.") \n Like Breadcrumbs it\'s not a book for everyone. But it\'s brilliant. Imo, Ursu (so far) writes with almost as much grace & power as Sonya Hartnett and her stories are a lot easier to stomach. I will definitely read more by the author.'

In [27]:
children_df.authors[0]

[{'author_id': '6561846', 'role': ''}, {'author_id': '173545', 'role': 'Illustrations'}]

In [28]:
langs = list(children_df.language_code.unique())
langs

['eng', '', 'en-GB', 'en-US', 'ind', 'ger', 'swe', 'fin', 'nl', 'spa', 'ara', 'en-CA', 'mul', 'fre', 'rus', 'fil', 'scr', 'por', 'vie', 'ita', 'lav', 'pol', 'tur', 'cze', 'hun', 'dan', 'lat', 'per', 'sco', 'srp', 'tgl', 'bul', 'ben', 'jpn', 'mlt', 'gre', 'lit', 'est', 'nor', 'nno', '--', 'nob', 'guj', 'afr', 'isl', 'hye', 'msa', 'sqi', 'fao', 'zho', 'kor', 'ukr', 'slv', 'nub', 'cat', 'rum', 'tha', 'sin', 'slo', 'hin', 'mal', 'pes', 'nld', 'dut', 'nav', 'kat', 'pt-BR', 'epo', 'krl', 'en', 'heb', 'oci', 'non', 'gle', 'bos', 'aze', 'mkd', 'glg', 'gem', 'mon', 'dum', 'egy', 'smn', 'roh', 'hmn', 'yid', 'eus', 'kur', 'kaz', 'vls']

In [29]:
df_test = children_df.loc[children_df['language_code'] == 'heb']

In [30]:
#for lang in langs:
    #temp_df = children_df.loc[children_df['language_code'] == lang]
    #print(lang,'\t',temp_df.review_text.iloc[0], '\n')

In [31]:
%pprint

Pretty printing has been turned ON

In [32]:
children_df.loc[children_df['language_code'] == 'scr'].title.iloc[:10] #Unknown?

139251                      Blizanke
232539    Mason Dixon: Pet Disasters
232540    Mason Dixon: Pet Disasters
232541    Mason Dixon: Pet Disasters
232542    Mason Dixon: Pet Disasters
232543    Mason Dixon: Pet Disasters
232544    Mason Dixon: Pet Disasters
295462                   Divlji konj
295463                   Divlji konj
295464                   Divlji konj
Name: title, dtype: object

In [33]:
children_df.loc[children_df['language_code'] == 'sco'].title.iloc[:10] #Scots

253413                                        Snotty Crocky
253414                                        Snotty Crocky
584250    Precious and the Puggies: Precious Ramotswe's ...
584251    Precious and the Puggies: Precious Ramotswe's ...
584252    Precious and the Puggies: Precious Ramotswe's ...
584253    Precious and the Puggies: Precious Ramotswe's ...
584254    Precious and the Puggies: Precious Ramotswe's ...
602407                                   The Doric Gruffalo
721408    Precious and the Puggies: Precious Ramotswe's ...
732879                                The Shetland Gruffalo
Name: title, dtype: object

In [34]:
children_df.loc[children_df['language_code'] == 'pes'].title.iloc[:10] #Scots

590500          از من نخواهید لبخند بزنم
590501    ازدواج مادرم و بدبختی‌های دیگر
615299                            اعجوبه
654173                 راز موتورسیکلت من
654174                 راز موتورسیکلت من
654175                 راز موتورسیکلت من
668693         ...حسنی به مکتب نمی رفت و
668694         ...حسنی به مکتب نمی رفت و
668695         ...حسنی به مکتب نمی رفت و
678360                     بن در تعطیلات
Name: title, dtype: object

In [35]:
children_df.loc[children_df['language_code'] == 'non'].title.iloc[:10] #Scots

685044    Vivaldi
Name: title, dtype: object

In [36]:
children_df.loc[children_df['language_code'] == 'non'].review_text.iloc[0]

'Let me note, I am not someone who usually collects children\'s books, even though I am a nanny and enjoy reading to children. I came across this book in a list of the most beautiful children\'s books, when looking for a book to give to a child as a birthday present, and I was immediately intrigued by the illustrations. I was a little disappointed to see it was in another language and costly to order and ship from Sweden (about $60 for the book plus shipping to the U.S.). I tried to forget about it, but I couldn\'t, and finally with some Christmas money, I bought it. It arrived this afternoon and I found that it is more than deserving of being on the list of "most beautiful children\'s books." I am very selective with children\'s books and I suppose it is difficult to please me, as I insist on marvelous illustrations and an enveloping story, and this book has both tenfold. \n As it happens, I was willing to buy it for the illustrations alone, but the wonderful folks at Magikon Forlag sent me an English translation of the book (as well as another book for free!) and couldn\'t be more grateful to be able to read and know the story. I would have been missing out immensely without it! It is achingly lovingly, heart-wrenching, touching, and thought-provoking. To anyone who has felt isolated or been bullied by other children at school this is a must-read, and for any parents of a child in this situation I think it\'s incredibly insightful. It\'s not akin to an anti-bullying PSA announcement, it is not overbearing or sappy, but has a tenderness that seeps slowly into your bones like a hot cup of tea. A must-read for anyone and everyone really! I feel so fortunate to own a copy, and this is the first children\'s book I am considering a favorite even though I have just discovered it in adulthood.'

In [37]:
children_df.loc[children_df['language_code'] == 'vls'].title.iloc[:10] #West Flemish

734398    Mein 24. Dezember. Eine seltsame Geschichte
Name: title, dtype: object

In [38]:
children_df.loc[children_df['language_code'] == ''].title.iloc[-10:] #Unknown?

734617    Alice's Adventures in Wonderland (English Book...
734629    What Bumosaur Is That?: An Illustrated Guide t...
734631       100 Bible Heroes, 100 Bible Songs [With 2 CDs]
734632           The Pandora Device (Camp Hawthorne Book 1)
734633                              Glasses: Who Needs 'Em?
734634                          Babar Visits Another Planet
734635                             On the Day You Were Born
734637                                     Tuck Everlasting
734638                              The Wind in the Willows
734639                                  Say Cheese and Die!
Name: title, dtype: object

In [39]:
children_df.loc[children_df['language_code'] == '--'].title.iloc[:10] #Unknown?

368230    All of a Kind Family: Five Young Sisters in th...
368231    All of a Kind Family: Five Young Sisters in th...
670567    Mein Körper gehört mir! Schutz vor Missbrauch ...
714073                                   El Little Principe
Name: title, dtype: object

In [40]:
english = (children_df.language_code == 'eng') | (children_df.language_code == 'en-GB') | (children_df.language_code == 'en-US') | (children_df.language_code == 'en-CA')
children_df[english].head()

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,description,format,authors,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,The companion to the #1 blockbuster bestseller...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home

In [41]:
genres_df = pd.read_json('/Users/ashleyfeiler/Desktop/Goodreads_Data/goodreads_book_genres_initial.json', lines=True)

In [42]:
genres_df.head()

   book_id                                             genres
0  5333265      {'history, historical fiction, biography': 1}
1  1333909  {'fiction': 219, 'history, historical fiction,...
2  7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
3  6066819  {'fiction': 555, 'romance': 23, 'mystery, thri...
4   287140                                 {'non-fiction': 3}

In [43]:
children_df = pd.merge(children_df, genres_df)

In [44]:
children_df.head()

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,format,authors,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par..."
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par..."
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par..."
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par..."
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par..."

In [45]:
genres_df.loc[genres_df['book_id'] == 23310161]

         book_id                                             genres
331712  23310161  {'children': 931, 'fiction': 64, 'fantasy, par...

In [46]:
children_df.shape

(734640, 21)

In [47]:
authors_df = pd.read_json('/Users/ashleyfeiler/Desktop/Goodreads_Data/goodreads_book_authors.json', lines=True)

In [48]:
authors_df.head()

,average_rating,author_id,text_reviews_count,name,ratings_count
0,3.98,604031,7,Ronald J. Fields,49
1,4.08,626222,28716,Anita Diamant,546796
2,3.92,10333,5075,Barbara Hambly,122118
3,3.68,9212,36262,Jennifer Weiner,888522
4,3.82,149918,96,Nigel Pennick,1740

In [49]:
### Figure out how to separate author info

In [50]:
test_authors = children_df.head()

In [51]:
test_authors

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,format,authors,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par..."
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par..."
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par..."
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par..."
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,Hardcover,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par..."

In [52]:
test_authors.authors.iloc[2][0]

{'author_id': '6561846', 'role': ''}

In [53]:
test_list = list(test_authors.index.map(lambda x: test_authors.authors.iloc[x][0]))
list(test_list[0].values())[0]

'6561846'

In [54]:
test_authors['author_id'] = test_authors.index.map(lambda x: list(test_list[x].values())[0])

/var/folders/j9/9lmff3zj6bxgfpsb8gm8pjrw0000gn/T/ipykernel_14602/2851788888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_authors['author_id'] = test_authors.index.map(lambda x: list(test_list[x].values())[0])

In [55]:
test_authors

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,authors,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,author_id
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846

In [56]:
## Do to all data!

In [57]:
author_list = list(children_df.index.map(lambda x: children_df.authors.iloc[x][0]))
list(author_list[0].values())[0]

'6561846'

In [58]:
children_df['author_id'] = children_df.index.map(lambda x: int(list(author_list[x].values())[0]))
children_df.head()

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,authors,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,author_id
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846

In [59]:
children_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 734640 entries, 0 to 734639
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   user_id               734640 non-null  object
 1   book_id               734640 non-null  int64
 2   review_id             734640 non-null  object
 3   rating                734640 non-null  int64
 4   review_text           734640 non-null  object
 5   text_reviews_count    734640 non-null  int64
 6   series                734640 non-null  object
 7   language_code         734640 non-null  object
 8   is_ebook              734640 non-null  object
 9   average_rating        734640 non-null  float64
 10  description           734640 non-null  object
 11  format                734640 non-null  object
 12  authors               734640 non-null  object
 13  publisher             734640 non-null  object
 14  num_pages             734640 non-null  object
 15  edition_information   734640 non-null  object
 16  publication_year      734640 non-null  object
 17  ratings_count         734640 non-null  int64
 18  title                 734640 non-null  object
 19  title_without_series  734640 non-null  object
 20  genres                734640 non-null  object
 21  author_id             734640 non-null  int64
dtypes: float64(1), int64(5), object(16)
memory usage: 128.9+ MB

In [60]:
authors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829529 entries, 0 to 829528
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   average_rating      829529 non-null  float64
 1   author_id           829529 non-null  int64
 2   text_reviews_count  829529 non-null  int64
 3   name                829529 non-null  object
 4   ratings_count       829529 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 31.6+ MB

In [61]:
children_df_test = children_df.head()
children_df_test

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,authors,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,author_id
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,"[{'author_id': '6561846', 'role': ''}, {'autho...",Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846

In [62]:
authors_df = pd.read_json('/Users/ashleyfeiler/Desktop/Goodreads_Data/goodreads_book_authors.json', lines=True)
authors_df.head()

,average_rating,author_id,text_reviews_count,name,ratings_count
0,3.98,604031,7,Ronald J. Fields,49
1,4.08,626222,28716,Anita Diamant,546796
2,3.92,10333,5075,Barbara Hambly,122118
3,3.68,9212,36262,Jennifer Weiner,888522
4,3.82,149918,96,Nigel Pennick,1740

In [63]:
authors_df = authors_df[['author_id', 'name']]
authors_df.head()

   author_id              name
0     604031  Ronald J. Fields
1     626222     Anita Diamant
2      10333    Barbara Hambly
3       9212   Jennifer Weiner
4     149918     Nigel Pennick

In [64]:
children_df_test = pd.merge(children_df_test, authors_df)
children_df_test

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,author_id,name
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846,Drew Daywalt
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846,Drew Daywalt
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846,Drew Daywalt
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846,Drew Daywalt
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846,Drew Daywalt

In [65]:
children_df = pd.merge(children_df, authors_df)
children_df.shape

(734640, 23)

In [66]:
children_df.head()

,user_id,book_id,review_id,rating,review_text,text_reviews_count,series,language_code,is_ebook,average_rating,...,publisher,num_pages,edition_information,publication_year,ratings_count,title,title_without_series,genres,author_id,name
0,8842281e1d1347389f2ab93d60773d4d,23310161,f4b4b050f4be00e9283c92a814af2670,4,Fun sequel to the original.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846,Drew Daywalt
1,d1e368a7d2870eb6fbf6e0d350568a2d,23310161,87fb7685b0b1aa774cc14c330bdcfadf,4,Great sequel! Lost crayons write their owner p...,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846,Drew Daywalt
2,7370e3e727f4fdae3ab82f054838d73d,23310161,b8c59999e366608b789114d6fdd52a69,5,Great sequel to the original.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846,Drew Daywalt
3,ec58d8af7f69e19781abed9d25287a57,23310161,db7984daa9a8c3b49f4c7f9f73ec86ac,5,I loved this book as much as the 1st one.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846,Drew Daywalt
4,cfe4738a5d926fc158d4fcb1287fe2c5,23310161,f3c100afbe1495fc51bff4d6c3cb7138,4,It was a cute follow-up to the clever first book.,1231,[751058],eng,false,4.43,...,Philomel Books,36,,2015,8924,The Day the Crayons Came Home,The Day the Crayons Came Home,"{'children': 931, 'fiction': 64, 'fantasy, par...",6561846,Drew Daywalt

In [67]:
children_df = children_df[english]

In [68]:
children_df.shape

(427626, 23)

In [70]:
children_df.columns

Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'text_reviews_count', 'series', 'language_code', 'is_ebook',
       'average_rating', 'description', 'format', 'authors', 'publisher',
       'num_pages', 'edition_information', 'publication_year', 'ratings_count',
       'title', 'title_without_series', 'genres', 'author_id', 'name'],
      dtype='object')

In [ ]:
###

In [71]:
children_short = children_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'name']]
children_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Author']

In [74]:
children_short.head()

,User_ID,Rating,Text,Language,Avg_Rating,Pages,Pub_Year,Ratings_Count,Title,Author
0,8842281e1d1347389f2ab93d60773d4d,4,Fun sequel to the original.,eng,4.43,36,2015,8924,The Day the Crayons Came Home,Drew Daywalt
1,d1e368a7d2870eb6fbf6e0d350568a2d,4,Great sequel! Lost crayons write their owner p...,eng,4.43,36,2015,8924,The Day the Crayons Came Home,Drew Daywalt
2,7370e3e727f4fdae3ab82f054838d73d,5,Great sequel to the original.,eng,4.43,36,2015,8924,The Day the Crayons Came Home,Drew Daywalt
3,ec58d8af7f69e19781abed9d25287a57,5,I loved this book as much as the 1st one.,eng,4.43,36,2015,8924,The Day the Crayons Came Home,Drew Daywalt
4,cfe4738a5d926fc158d4fcb1287fe2c5,4,It was a cute follow-up to the clever first book.,eng,4.43,36,2015,8924,The Day the Crayons Came Home,Drew Daywalt

In [75]:
children_short.tail()

,User_ID,Rating,Text,Language,Avg_Rating,Pages,Pub_Year,Ratings_Count,Title,Author
734623,3f794faf8c2830b54cd674ce9bca7cc6,5,"Michele Darmanin of Sydney, Australia, wrote a...",eng,5.00,24,2012,2,The Monarch Butterfly Coloring Book,Mary Ellen Ryall
734625,1f71fce3bed8a8a482b7ef69a7ca2fc8,3,the story starts well but it lacks a good and ...,,3.75,28,1991,4,Nobody Has Time for Me,Vladimir Skutina
734626,f311f22c152052c47fa0895730358f28,5,Your blood may belong to your mother and you s...,eng,3.91,160,1986,68,Comfort Herself,Geraldine Kaye
734630,79ebfafc70dac6faded5ef7d76977743,5,"Loved it, every child has a favourite teddy an...",,4.76,,2012,24,When Teddy Was In The Wash,David Jacks
734636,12104bd507c4ed850f90b22243905be0,3,The Red Gorilla of Oz was alright. I was doing...,eng,3.41,168,2012,6,The Red Gorilla of Oz,Richard Capwell

In [77]:
children_short = children_short[[ 'Text', 'Rating', 'Title', 'Author', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
children_short.head()

,Text,Rating,Title,Author,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
0,Fun sequel to the original.,4,The Day the Crayons Came Home,Drew Daywalt,eng,36,2015,4.43,8924,8842281e1d1347389f2ab93d60773d4d
1,Great sequel! Lost crayons write their owner p...,4,The Day the Crayons Came Home,Drew Daywalt,eng,36,2015,4.43,8924,d1e368a7d2870eb6fbf6e0d350568a2d
2,Great sequel to the original.,5,The Day the Crayons Came Home,Drew Daywalt,eng,36,2015,4.43,8924,7370e3e727f4fdae3ab82f054838d73d
3,I loved this book as much as the 1st one.,5,The Day the Crayons Came Home,Drew Daywalt,eng,36,2015,4.43,8924,ec58d8af7f69e19781abed9d25287a57
4,It was a cute follow-up to the clever first book.,4,The Day the Crayons Came Home,Drew Daywalt,eng,36,2015,4.43,8924,cfe4738a5d926fc158d4fcb1287fe2c5

In [78]:
children_short.tail()

,Text,Rating,Title,Author,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
734623,"Michele Darmanin of Sydney, Australia, wrote a...",5,The Monarch Butterfly Coloring Book,Mary Ellen Ryall,eng,24,2012,5.00,2,3f794faf8c2830b54cd674ce9bca7cc6
734625,the story starts well but it lacks a good and ...,3,Nobody Has Time for Me,Vladimir Skutina,,28,1991,3.75,4,1f71fce3bed8a8a482b7ef69a7ca2fc8
734626,Your blood may belong to your mother and you s...,5,Comfort Herself,Geraldine Kaye,eng,160,1986,3.91,68,f311f22c152052c47fa0895730358f28
734630,"Loved it, every child has a favourite teddy an...",5,When Teddy Was In The Wash,David Jacks,,,2012,4.76,24,79ebfafc70dac6faded5ef7d76977743
734636,The Red Gorilla of Oz was alright. I was doing...,3,The Red Gorilla of Oz,Richard Capwell,eng,168,2012,3.41,6,12104bd507c4ed850f90b22243905be0

In [79]:
children_short.shape

(427626, 10)

In [83]:
children_sample = children_short.sample(1000)
children_sample.head()

,Text,Rating,Title,Author,Language,Pages,Pub_Year,Avg_Rating,Ratings_Count,User_ID
276028,"Whether you look up at the night sky, or look ...",5,Stars,Mary Lyn Ray,eng,36,2011,4.08,3122,2a21935563148c63c0ae364e2d2b62b1
78983,I forgot being a child until I read this book....,4,The Little Prince,Antoine de Saint-Exupery,eng,93,2000,4.28,763309,1d017f07bc705eb001f1bdea9f906e3b
32184,One of my all time fav book and movie!! Ronald...,5,Matilda,Roald Dahl,eng,,,4.29,446384,5e847731f1e50789f914ce2ac2ff71f3
175021,an adorable story about a gorilla and his kitt...,4,Little Beauty,Anthony Browne,,32,2010,3.96,666,d350b777a290025f77e3befc3f4a603b
280207,Maybe it's just because I've read a lot of pen...,2,The Little Penguin,A.J. Wood,,32,2002,3.85,27,d1e368a7d2870eb6fbf6e0d350568a2d

In [84]:
children_sample.shape

(1000, 10)

In [85]:
children_sample.User_ID.value_counts().value_counts()

1    804
2     57
3     10
4      8
5      4
Name: User_ID, dtype: int64

In [ ]:
#To-Do: Fill in null values (page numbers, year, etc.)