In [1]:
#Turn off pretty printing
%pprint

#Import packages
import pandas as pd
import os
import pickle

Pretty printing has been turned OFF

# Fantasy
## Reviews

In [2]:
fantasy_reviews = pd.read_json('data/Reviews/excerpts_shuf/goodreads_reviews_fantasy_paranormal_shuf.json', lines=True)
fantasy_reviews.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,21801e86814719fad9fabda6079a9d19,7022166,152ed81c627a92f5bdf79594984bc5ba,4,This was interesting and irresistible!,Sat Jan 19 16:31:16 -0800 2013,Sat Jan 19 17:00:00 -0800 2013,Sat Apr 02 00:00:00 -0700 2011,,0,0
1,84f7aa179a6fa65a6f2b37f32e8c011f,352262,252e1513d450d7fa83273100d572b074,4,"Bi Kip Luyen Rong ""goc"" cua Cressida Cowell da...",Sat Mar 22 06:44:31 -0700 2014,Mon May 02 18:08:57 -0700 2016,Mon Feb 10 00:00:00 -0800 2014,,0,0
2,d64da50d3af7fe0e48091ff2a7dfcccc,4690613,1a89c073061a61ef0e9353e2cb1835e4,5,"Phelan likes to keep his teammates guessing, F...",Wed Dec 30 14:52:35 -0800 2015,Wed Dec 30 14:52:50 -0800 2015,Sat Dec 26 00:00:00 -0800 2015,,0,0
3,c067850e80c03b16c6abf2fc10e3c284,833423,2720f92bf01db62da6c6be4cb894d483,5,The first Discworld novel to feature all three...,Sat Jul 30 12:32:16 -0700 2016,Fri Aug 26 13:06:18 -0700 2016,Fri Aug 26 13:06:18 -0700 2016,Sat Jul 30 00:00:00 -0700 2016,0,0
4,dd9785b14664103617304996541ed77a,30174220,e6b777d2c3e4d9422d47e62c6cd4d0b4,4,The White Rose (The Chronicle of the Black Com...,Thu May 12 01:12:58 -0700 2016,Thu May 12 02:17:26 -0700 2016,Thu May 12 07:03:52 -0700 2016,,8,0

In [3]:
fantasy_share = fantasy_reviews.head()

In [4]:
f = open('data/genre_share/fantasy_share.pkl', 'wb')
pickle.dump(fantasy_share, f)
f.close()

In [5]:
print(fantasy_reviews.shape)
print(fantasy_reviews.info())

(5000, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       5000 non-null   object
 1   book_id       5000 non-null   int64
 2   review_id     5000 non-null   object
 3   rating        5000 non-null   int64
 4   review_text   5000 non-null   object
 5   date_added    5000 non-null   object
 6   date_updated  5000 non-null   object
 7   read_at       5000 non-null   object
 8   started_at    5000 non-null   object
 9   n_votes       5000 non-null   int64
 10  n_comments    5000 non-null   int64
dtypes: int64(4), object(7)
memory usage: 429.8+ KB
None

## Book Info

In [6]:
fantasy_books = pd.read_json('data/Books/goodreads_books_fantasy_paranormal.json', lines=True)
fantasy_books.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,,7,[189911],US,eng,"[{'count': '58', 'name': 'to-read'}, {'count':...",B00071IKUY,false,4.03,,...,,Book Club Edition,1987,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,7327624,140,8948723,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","The Unschooled Wizard (Sun Wolf and Starhawk, ..."
1,1934876569,6,[151854],US,,"[{'count': '515', 'name': 'to-read'}, {'count'...",,false,4.22,,...,3,,2009,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,6066812,98,701117,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...
2,,60,[1052227],US,eng,"[{'count': '54', 'name': 'currently-reading'},...",B01NCIKAQX,true,4.33,B01NCIKAQX,...,,,,https://www.goodreads.com/book/show/33394837-t...,https://images.gr-assets.com/books/1493114742m...,33394837,269,54143148,The House of Memory (Pluto's Snitch #2),The House of Memory (Pluto's Snitch #2)
3,,1,[147734],US,,"[{'count': '1057', 'name': 'to-read'}, {'count...",B0056A00P4,true,4.04,B0056A00P4,...,,,,https://www.goodreads.com/book/show/12182387-t...,https://s.gr-assets.com/assets/nophoto/book/11...,12182387,4,285263,"The Passion (Dark Visions, #3)","The Passion (Dark Visions, #3)"
4,,21,[811663],US,en-US,"[{'count': '598', 'name': 'to-read'}, {'count'...",B01BLJGA9S,true,4.23,B01BLJGA9S,...,,,,https://www.goodreads.com/book/show/29074693-p...,https://s.gr-assets.com/assets/nophoto/book/11...,29074693,149,46079519,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)"

In [7]:
fantasy_books.country_code.value_counts()

US    258585
Name: country_code, dtype: int64

In [8]:
fantasy_df = pd.merge(fantasy_reviews, fantasy_books, on='book_id')
print(fantasy_df.shape)
print(fantasy_df.columns)

(5000, 39)
Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments', 'isbn', 'text_reviews_count', 'series', 'country_code',
       'language_code', 'popular_shelves', 'asin', 'is_ebook',
       'average_rating', 'kindle_asin', 'similar_books', 'description',
       'format', 'link', 'authors', 'publisher', 'num_pages',
       'publication_day', 'isbn13', 'publication_month', 'edition_information',
       'publication_year', 'url', 'image_url', 'ratings_count', 'work_id',
       'title', 'title_without_series'],
      dtype='object')

## Genre Info

In [9]:
genres_df = pd.read_json('data/goodreads_book_genres_initial.json', lines=True)
genres_df.head()

   book_id                                             genres
0  5333265      {'history, historical fiction, biography': 1}
1  1333909  {'fiction': 219, 'history, historical fiction,...
2  7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
3  6066819  {'fiction': 555, 'romance': 23, 'mystery, thri...
4   287140                                 {'non-fiction': 3}

In [10]:
fantasy_df = pd.merge(fantasy_df, genres_df)
fantasy_df['Genre_Tag'] = 'fantasy_paranormal'
fantasy_df.shape

(5000, 41)

## Author Info

In [11]:
authors_df = pd.read_json('data/goodreads_book_authors.json', lines=True)
authors_df.head()

,average_rating,author_id,text_reviews_count,name,ratings_count
0,3.98,604031,7,Ronald J. Fields,49
1,4.08,626222,28716,Anita Diamant,546796
2,3.92,10333,5075,Barbara Hambly,122118
3,3.68,9212,36262,Jennifer Weiner,888522
4,3.82,149918,96,Nigel Pennick,1740

In [12]:
fantasy_authors = list(fantasy_df.index.map(lambda x: fantasy_df.authors.iloc[x][0]))
list(fantasy_authors[0].values())[0]

'225455'

In [13]:
fantasy_df['author_id'] = fantasy_df.index.map(lambda x: int(list(fantasy_authors[x].values())[0]))

In [14]:
authors_df = authors_df[['author_id', 'name']]

In [15]:
fantasy_df = pd.merge(fantasy_df, authors_df, on ='author_id')
print(fantasy_df.shape)

(5000, 43)

## Langauge Filtering

In [16]:
english = (fantasy_df.language_code == 'eng') | (fantasy_df.language_code == 'en-GB') | (fantasy_df.language_code == 'en-US') | (fantasy_df.language_code == 'en-CA')
fantasy_df = fantasy_df[english]
fantasy_df.shape

(4326, 43)

## Formatting

In [17]:
fantasy_short = fantasy_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
fantasy_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
fantasy_short = fantasy_short[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
fantasy_short.shape

(4326, 12)

In [18]:
empty = (fantasy_short.Text != '') & (fantasy_short.Text != ' ') & (fantasy_short.Rating != '') & (fantasy_short.Rating != ' ')
print(fantasy_short.shape)
print(fantasy_short[empty].shape)
fantasy_short = fantasy_short[empty]
print(fantasy_short.info())

(4326, 12)
(4323, 12)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4323 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Text           4323 non-null   object
 1   Rating         4323 non-null   int64
 2   Title          4323 non-null   object
 3   Author         4323 non-null   object
 4   Category       4323 non-null   object
 5   Genres         4323 non-null   object
 6   Language       4323 non-null   object
 7   Pages          4323 non-null   object
 8   Pub_Year       4323 non-null   object
 9   Avg_Rating     4323 non-null   float64
 10  Ratings_Count  4323 non-null   int64
 11  User_ID        4323 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 439.1+ KB
None

## Saving Info

In [19]:
f2 = open('data/genre_pkls/fantasy_short.pkl', 'wb')
pickle.dump(fantasy_short, f2)
f2.close()