In [1]:
#Turn off pretty printing
%pprint

#Import packages
import pandas as pd
import os
import pickle

Pretty printing has been turned OFF

# History
## Reviews

In [2]:
history_reviews = pd.read_json('data/Reviews/excerpts_shuf/goodreads_reviews_history_biography_shuf.json', lines=True)
history_reviews.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,b023db7e236ce7b1c72c9fa6a6a5f715,25434370,19a4d683e94c33eccf72dd4bd5d77edc,2,Surprisingly okay. Recipes look bomb and I got...,Tue Jul 25 21:30:36 -0700 2017,Tue Jul 25 21:33:02 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,1,0
1,b9106e7a3b27ede55ea0fec6c9fab739,10836585,005ebd3d0e38d3ceb5acd96b8ad94258,4,I wanted to give this book 5 stars before I ev...,Tue Nov 22 11:16:11 -0800 2011,Tue Nov 22 11:41:27 -0800 2011,Tue Nov 22 00:00:00 -0800 2011,,2,1
2,da52ccf89b0546bc6e32b06a0d88b1ce,29414792,9c3a8ed933a435b098a9f60ced934823,5,ylhmn rHl@ Hy@ wylh mn khtm@ \n s'`wd lktb@ mr...,Fri Jan 20 22:02:57 -0800 2017,Wed Apr 19 06:04:15 -0700 2017,Wed Apr 19 16:22:30 -0700 2017,Tue Apr 04 00:00:00 -0700 2017,8,0
3,7bb769950fc2439d1dfc383bc802d4d0,19394829,f2ff04f84434339284bf763a7f5d7b82,3,Fascinating story. An easy to follow account o...,Tue Aug 01 10:00:20 -0700 2017,Tue Aug 01 10:01:28 -0700 2017,Tue Aug 01 10:01:29 -0700 2017,,0,0
4,9871b3c77782eafe3447c07e57429c56,1374162,db9e08f47b91e7e7b5b91291cec7e9f0,3,"Very YA, but sweet",Sun Jul 30 08:41:31 -0700 2017,Sun Jul 30 08:42:29 -0700 2017,Sun Jul 30 08:42:29 -0700 2017,,0,0

In [3]:
history_share = history_reviews.head()

In [4]:
f = open('data/genre_share/history_share.pkl', 'wb')
pickle.dump(history_share, f)
f.close()

In [5]:
print(history_reviews.shape)
print(history_reviews.info())

(5000, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       5000 non-null   object
 1   book_id       5000 non-null   int64
 2   review_id     5000 non-null   object
 3   rating        5000 non-null   int64
 4   review_text   5000 non-null   object
 5   date_added    5000 non-null   object
 6   date_updated  5000 non-null   object
 7   read_at       5000 non-null   object
 8   started_at    5000 non-null   object
 9   n_votes       5000 non-null   int64
 10  n_comments    5000 non-null   int64
dtypes: int64(4), object(7)
memory usage: 429.8+ KB
None

## Book Info

In [6]:
history_books = pd.read_json('data/Books/goodreads_books_history_biography.json', lines=True)
history_books.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,1599150603,7,[],US,,"[{'count': '56', 'name': 'to-read'}, {'count':...",,false,4.13,B00DU10PUG,...,9,,2006,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,287141,46,278578,The Aeneid for Boys and Girls,The Aeneid for Boys and Girls
1,184737297X,15,[169353],US,,"[{'count': '159', 'name': 'to-read'}, {'count'...",,false,3.93,B007YLTG5I,...,4,,2009,https://www.goodreads.com/book/show/6066814-cr...,https://images.gr-assets.com/books/1328724803m...,6066814,186,6243149,"Crowner Royal (Crowner John Mystery, #13)","Crowner Royal (Crowner John Mystery, #13)"
2,037583687X,615,[],US,,"[{'count': '4248', 'name': 'to-read'}, {'count...",,false,3.98,B0010SEMV4,...,7,,2006,https://www.goodreads.com/book/show/89377.Penn...,https://images.gr-assets.com/books/1320470906m...,89377,6949,86258,Penny from Heaven,Penny from Heaven
3,1400041694,44,[],US,en-US,"[{'count': '362', 'name': 'to-read'}, {'count'...",,false,3.75,B002OTKEP6,...,,,,https://www.goodreads.com/book/show/6158967-cr...,https://images.gr-assets.com/books/1320556043m...,6158967,338,6338156,Crude World: The Violent Twilight of Oil,Crude World: The Violent Twilight of Oil
4,8864116435,19,[],US,ita,"[{'count': '6463', 'name': 'to-read'}, {'count...",,true,4.28,,...,5,Le Strade #202,2012,https://www.goodreads.com/book/show/18628480-s...,https://images.gr-assets.com/books/1380976410m...,18628480,116,1559207,Stoner,Stoner

In [7]:
history_books.country_code.value_counts()

US    302935
Name: country_code, dtype: int64

In [8]:
history_df = pd.merge(history_reviews, history_books, on='book_id')
print(history_df.shape)
print(history_df.columns)

(5000, 39)
Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments', 'isbn', 'text_reviews_count', 'series', 'country_code',
       'language_code', 'popular_shelves', 'asin', 'is_ebook',
       'average_rating', 'kindle_asin', 'similar_books', 'description',
       'format', 'link', 'authors', 'publisher', 'num_pages',
       'publication_day', 'isbn13', 'publication_month', 'edition_information',
       'publication_year', 'url', 'image_url', 'ratings_count', 'work_id',
       'title', 'title_without_series'],
      dtype='object')

## Genre Info

In [9]:
genres_df = pd.read_json('data/goodreads_book_genres_initial.json', lines=True)
genres_df.head()

   book_id                                             genres
0  5333265      {'history, historical fiction, biography': 1}
1  1333909  {'fiction': 219, 'history, historical fiction,...
2  7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
3  6066819  {'fiction': 555, 'romance': 23, 'mystery, thri...
4   287140                                 {'non-fiction': 3}

In [10]:
history_df = pd.merge(history_df, genres_df)
history_df['Genre_Tag'] = 'history_bio'
history_df.shape

(5000, 41)

## Author Info

In [11]:
authors_df = pd.read_json('data/goodreads_book_authors.json', lines=True)
authors_df.head()

,average_rating,author_id,text_reviews_count,name,ratings_count
0,3.98,604031,7,Ronald J. Fields,49
1,4.08,626222,28716,Anita Diamant,546796
2,3.92,10333,5075,Barbara Hambly,122118
3,3.68,9212,36262,Jennifer Weiner,888522
4,3.82,149918,96,Nigel Pennick,1740

In [12]:
history_authors = list(history_df.index.map(lambda x: history_df.authors.iloc[x][0]))
list(history_authors[0].values())[0]

'4088993'

In [13]:
history_df['author_id'] = history_df.index.map(lambda x: int(list(history_authors[x].values())[0]))

In [14]:
authors_df = authors_df[['author_id', 'name']]

In [15]:
history_df = pd.merge(history_df, authors_df, on ='author_id')
print(history_df.shape)

(5000, 43)

## Langauge Filtering

In [16]:
english = (history_df.language_code == 'eng') | (history_df.language_code == 'en-GB') | (history_df.language_code == 'en-US') | (history_df.language_code == 'en-CA')
history_df = history_df[english]
history_df.shape

(3362, 43)

## Formatting

In [17]:
history_short = history_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
history_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
history_short = history_short[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
history_short.shape

(3362, 12)

In [18]:
empty = (history_short.Text != '') & (history_short.Text != ' ') & (history_short.Rating != '') & (history_short.Rating != ' ')
print(history_short.shape)
print(history_short[empty].shape)
history_short = history_short[empty]
print(history_short.info())

(3362, 12)
(3362, 12)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3362 entries, 0 to 4997
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Text           3362 non-null   object
 1   Rating         3362 non-null   int64
 2   Title          3362 non-null   object
 3   Author         3362 non-null   object
 4   Category       3362 non-null   object
 5   Genres         3362 non-null   object
 6   Language       3362 non-null   object
 7   Pages          3362 non-null   object
 8   Pub_Year       3362 non-null   object
 9   Avg_Rating     3362 non-null   float64
 10  Ratings_Count  3362 non-null   int64
 11  User_ID        3362 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 341.5+ KB
None

## Saving Info

In [19]:
f2 = open('data/genre_pkls/history_short.pkl', 'wb')
pickle.dump(history_short, f2)
f2.close()