In [1]:
#Turn off pretty printing
%pprint

#Import packages
import pandas as pd
import os
import pickle

Pretty printing has been turned OFF

# Romance
## Reviews

In [2]:
romance_reviews = pd.read_json('data/Reviews/excerpts_shuf/goodreads_reviews_romance_shuf.json', lines=True)
romance_reviews.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,d678278201d1cd0df6b1c1374e5be4a0,23215471,d2ec8377199f3baa7f5e8e7271a0057c,3,"WHY, MEG CABOT, WHY?",Fri Sep 18 06:58:43 -0700 2015,Sat Sep 19 15:12:32 -0700 2015,Sat Sep 19 15:28:10 -0700 2015,Fri Sep 18 00:00:00 -0700 2015,6,0
1,845b1553dad76b275cb747aefe08cefd,33512629,1397eb1240258a075f4c0893d151c093,2,2.5 \n The best part about this book? The puns...,Wed Dec 28 09:14:14 -0800 2016,Sun May 07 16:21:01 -0700 2017,Mon Mar 06 00:00:00 -0800 2017,Sun Feb 26 00:00:00 -0800 2017,0,0
2,ee8d9e1c432a9392d183c53ab561d33e,5820056,31d5842653830fb8d233f7f1a6ebea90,4,"Quick, but enjoyable read. The characters were...",Thu Sep 15 17:34:20 -0700 2011,Tue Jan 10 09:11:50 -0800 2012,Tue Jan 10 00:00:00 -0800 2012,Mon Jan 09 00:00:00 -0800 2012,1,0
3,4ea9e5a75b08baca598243e151044a9b,26194630,7030014a96828e095eb7a34fb583067b,5,4.5 stars!,Tue Oct 27 11:46:15 -0700 2015,Sat Oct 31 22:42:23 -0700 2015,Sun Nov 01 06:08:01 -0800 2015,Tue Oct 27 00:00:00 -0700 2015,2,0
4,13c3b1b01049fe05a551265f7270d47f,6044373,4a51644c4045ee39382d146196ee4535,4,I almost want to say I enjoyed this book more ...,Tue Oct 26 20:26:25 -0700 2010,Mon Dec 13 19:33:40 -0800 2010,Mon Dec 13 00:00:00 -0800 2010,Sat Dec 11 00:00:00 -0800 2010,1,7

In [3]:
romance_share = romance_reviews.head()

In [4]:
os.makedirs('data/genre_share', exist_ok=True)  

f = open('data/genre_share/romance_share.pkl', 'wb')
pickle.dump(romance_share, f)
f.close()

In [5]:
print(romance_reviews.shape)
print(romance_reviews.info())

(5000, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       5000 non-null   object
 1   book_id       5000 non-null   int64
 2   review_id     5000 non-null   object
 3   rating        5000 non-null   int64
 4   review_text   5000 non-null   object
 5   date_added    5000 non-null   object
 6   date_updated  5000 non-null   object
 7   read_at       5000 non-null   object
 8   started_at    5000 non-null   object
 9   n_votes       5000 non-null   int64
 10  n_comments    5000 non-null   int64
dtypes: int64(4), object(7)
memory usage: 429.8+ KB
None

## Book Info

In [6]:
romance_books = pd.read_json('data/Books/goodreads_books_romance.json', lines=True)
romance_books.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,,4,[],US,,"[{'count': '4', 'name': 'to-read'}, {'count': ...",,true,3.86,,...,5,,2017,https://www.goodreads.com/book/show/34883016-p...,https://images.gr-assets.com/books/1493525974m...,34883016,5,56135087,Playmaker: A Venom Series Novella,Playmaker: A Venom Series Novella
1,,21,[811663],US,en-US,"[{'count': '598', 'name': 'to-read'}, {'count'...",B01BLJGA9S,true,4.23,B01BLJGA9S,...,,,,https://www.goodreads.com/book/show/29074693-p...,https://s.gr-assets.com/assets/nophoto/book/11...,29074693,149,46079519,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)"
2,1597371289,8,[],US,eng,"[{'count': '16215', 'name': 'classics'}, {'cou...",,false,3.99,B0083Z3O8Y,...,9,,2005,https://www.goodreads.com/book/show/3209316-emma,https://s.gr-assets.com/assets/nophoto/book/11...,3209316,42,3360164,Emma,Emma
3,,27,[938303],US,en-GB,"[{'count': '25', 'name': 'to-read'}, {'count':...",B01HX6PENG,true,4.31,B01HX6PENG,...,,,,https://www.goodreads.com/book/show/30838933-g...,https://s.gr-assets.com/assets/nophoto/book/11...,30838933,139,51437308,"Guardian Cougar (Finding Fatherhood, #2)","Guardian Cougar (Finding Fatherhood, #2)"
4,,15,[],US,eng,"[{'count': '1492', 'name': 'to-read'}, {'count...",B013Q70BQG,true,3.98,B013Q70BQG,...,,,,https://www.goodreads.com/book/show/27419760-w...,https://images.gr-assets.com/books/1457306424m...,27419760,167,46003673,Wedding Girl,Wedding Girl

In [7]:
romance_books.country_code.value_counts()

US    335449
Name: country_code, dtype: int64

In [8]:
romance_df = pd.merge(romance_reviews, romance_books, on='book_id')
print(romance_df.shape)
print(romance_df.columns)

(5000, 39)
Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments', 'isbn', 'text_reviews_count', 'series', 'country_code',
       'language_code', 'popular_shelves', 'asin', 'is_ebook',
       'average_rating', 'kindle_asin', 'similar_books', 'description',
       'format', 'link', 'authors', 'publisher', 'num_pages',
       'publication_day', 'isbn13', 'publication_month', 'edition_information',
       'publication_year', 'url', 'image_url', 'ratings_count', 'work_id',
       'title', 'title_without_series'],
      dtype='object')

## Genre Info

In [9]:
genres_df = pd.read_json('data/goodreads_book_genres_initial.json', lines=True)
genres_df.head()

   book_id                                             genres
0  5333265      {'history, historical fiction, biography': 1}
1  1333909  {'fiction': 219, 'history, historical fiction,...
2  7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
3  6066819  {'fiction': 555, 'romance': 23, 'mystery, thri...
4   287140                                 {'non-fiction': 3}

In [10]:
romance_df = pd.merge(romance_df, genres_df)
romance_df['Genre_Tag'] = 'romance'
romance_df.shape

(5000, 41)

## Author Info

In [11]:
authors_df = pd.read_json('data/goodreads_book_authors.json', lines=True)
authors_df.head()

,average_rating,author_id,text_reviews_count,name,ratings_count
0,3.98,604031,7,Ronald J. Fields,49
1,4.08,626222,28716,Anita Diamant,546796
2,3.92,10333,5075,Barbara Hambly,122118
3,3.68,9212,36262,Jennifer Weiner,888522
4,3.82,149918,96,Nigel Pennick,1740

In [12]:
romance_authors = list(romance_df.index.map(lambda x: romance_df.authors.iloc[x][0]))
list(romance_authors[0].values())[0]

'11654'

In [13]:
romance_df['author_id'] = romance_df.index.map(lambda x: int(list(romance_authors[x].values())[0]))

In [14]:
authors_df = authors_df[['author_id', 'name']]

In [15]:
romance_df = pd.merge(romance_df, authors_df, on ='author_id')
print(romance_df.shape)

(5000, 43)

## Language Filtering

In [16]:
english = (romance_df.language_code == 'eng') | (romance_df.language_code == 'en-GB') | (romance_df.language_code == 'en-US') | (romance_df.language_code == 'en-CA')
romance_df = romance_df[english]
romance_df.shape

(3919, 43)

In [17]:
romance_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,...,url,image_url,ratings_count,work_id,title,title_without_series,genres,Genre_Tag,author_id,name
0,d678278201d1cd0df6b1c1374e5be4a0,23215471,d2ec8377199f3baa7f5e8e7271a0057c,3,"WHY, MEG CABOT, WHY?",Fri Sep 18 06:58:43 -0700 2015,Sat Sep 19 15:12:32 -0700 2015,Sat Sep 19 15:28:10 -0700 2015,Fri Sep 18 00:00:00 -0700 2015,6,...,https://www.goodreads.com/book/show/23215471-r...,https://images.gr-assets.com/books/1418786285m...,9376,41355508,"Royal Wedding (The Princess Diaries, #11)","Royal Wedding (The Princess Diaries, #11)","{'romance': 293, 'young-adult': 206, 'fiction'...",romance,11654,Meg Cabot
1,b1283e94b2879e7ef1727c85fc455d54,187810,26db870d18c6a22d2d82ef95e1df549f,4,I wasn't too much of a reader when I was young...,Sun May 03 15:20:28 -0700 2015,Sun May 03 15:27:07 -0700 2015,,,0,...,https://www.goodreads.com/book/show/187810.Vic...,https://s.gr-assets.com/assets/nophoto/book/11...,7696,952522,Victoria and the Rogue,Victoria and the Rogue,"{'young-adult': 341, 'romance': 403, 'fiction'...",romance,11654,Meg Cabot
2,ed8d53aef89e3f8b0e31bdba78f9d71b,187810,a67da7a5ea17ea7a02d7edaa032addd3,4,Just lots of fun.,Mon Apr 13 12:55:03 -0700 2009,Mon Apr 13 12:55:08 -0700 2009,,,0,...,https://www.goodreads.com/book/show/187810.Vic...,https://s.gr-assets.com/assets/nophoto/book/11...,7696,952522,Victoria and the Rogue,Victoria and the Rogue,"{'young-adult': 341, 'romance': 403, 'fiction'...",romance,11654,Meg Cabot
3,845b1553dad76b275cb747aefe08cefd,33512629,1397eb1240258a075f4c0893d151c093,2,2.5 \n The best part about this book? The puns...,Wed Dec 28 09:14:14 -0800 2016,Sun May 07 16:21:01 -0700 2017,Mon Mar 06 00:00:00 -0800 2017,Sun Feb 26 00:00:00 -0800 2017,0,...,https://www.goodreads.com/book/show/33512629-w...,https://s.gr-assets.com/assets/nophoto/book/11...,130,52234862,"Whiskey Business (States of Love, #1)","Whiskey Business (States of Love, #1)","{'romance': 91, 'fiction': 4}",romance,14237686,Avon Gale
4,ee8d9e1c432a9392d183c53ab561d33e,5820056,31d5842653830fb8d233f7f1a6ebea90,4,"Quick, but enjoyable read. The characters were...",Thu Sep 15 17:34:20 -0700 2011,Tue Jan 10 09:11:50 -0800 2012,Tue Jan 10 00:00:00 -0800 2012,Mon Jan 09 00:00:00 -0800 2012,1,...,https://www.goodreads.com/book/show/5820056-th...,https://s.gr-assets.com/assets/nophoto/book/11...,125,3638635,"The Assignment (Assignment, #1)","The Assignment (Assignment, #1)","{'romance': 462, 'mystery, thriller, crime': 7...",romance,240840,Evangeline Anderson

## Formatting

In [18]:
romance_df.columns

Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments', 'isbn', 'text_reviews_count', 'series', 'country_code',
       'language_code', 'popular_shelves', 'asin', 'is_ebook',
       'average_rating', 'kindle_asin', 'similar_books', 'description',
       'format', 'link', 'authors', 'publisher', 'num_pages',
       'publication_day', 'isbn13', 'publication_month', 'edition_information',
       'publication_year', 'url', 'image_url', 'ratings_count', 'work_id',
       'title', 'title_without_series', 'genres', 'Genre_Tag', 'author_id',
       'name'],
      dtype='object')

In [19]:
romance_short = romance_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
romance_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
romance_short = romance_short[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
romance_short.shape

(3919, 12)

In [20]:
empty = (romance_short.Text != '') & (romance_short.Text != ' ') & (romance_short.Rating != '') & (romance_short.Rating != ' ')
print(romance_short.shape)
print(romance_short[empty].shape)
romance_short = romance_short[empty]
print(romance_short.shape)

(3919, 12)
(3918, 12)
(3918, 12)

## Saving Info

In [21]:
os.makedirs('data/genre_pkls', exist_ok=True)  

f2 = open('data/genre_pkls/romance_short.pkl', 'wb')
pickle.dump(romance_short, f2)
f2.close()