In [1]:
#Turn off pretty printing
%pprint

#Import packages
import pandas as pd
import os
import pickle

Pretty printing has been turned OFF

# Young Adult
## Reviews

In [2]:
ya_reviews = pd.read_json('data/Reviews/excerpts_shuf/goodreads_reviews_young_adult_shuf.json', lines=True)
ya_reviews.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8a707cebc4bb349da13cc93d3a7120ef,18285437,a2b510e8be50f772785286edf170a6d3,5,I don't even know how to begin to describe how...,Thu Jul 09 11:33:37 -0700 2015,Sun Dec 20 12:31:17 -0800 2015,Sun Dec 20 12:33:30 -0800 2015,Sat Dec 19 00:00:00 -0800 2015,1,0
1,512d8ecf5cca2fb31ede425f6bdfe4a3,332812,aef6a53940090ddb3c4feb93a8a86dda,5,** spoiler alert ** \n I thought this book had...,Wed Aug 04 20:13:59 -0700 2010,Wed Aug 04 20:15:55 -0700 2010,Thu Jul 15 00:00:00 -0700 2010,,0,0
2,480564a6be18fc8d0046963a1b2f10dd,18304322,7cdca14c7507c7da3f67415b1324e310,5,I was having a hard time coming up with how to...,Sun Oct 11 18:09:53 -0700 2015,Sun Feb 19 21:17:58 -0800 2017,Sat Nov 21 14:12:08 -0800 2015,Wed Nov 18 00:00:00 -0800 2015,1,6
3,ef2ecfec2e1e644bd0f7fe73717ff6ee,17234659,e3464b4f1ff968bbfc449efd87bdd09c,5,4.5 stars. \n HOLY MOTHER OF PLOT TWISTS. \n T...,Tue Mar 29 15:11:05 -0700 2016,Thu Dec 29 17:13:39 -0800 2016,Thu Apr 07 00:00:00 -0700 2016,,0,0
4,aa4f9e89eb620f856ad3b5e7460f2513,22489107,43cbf07734b4452555012d4b63ccaeaf,4,Levana be cray! \n 4 stars!,Sun Feb 01 11:51:30 -0800 2015,Tue Feb 10 22:05:13 -0800 2015,Sun Feb 01 00:00:00 -0800 2015,Sun Feb 01 00:00:00 -0800 2015,1,0

In [3]:
ya_share = ya_reviews.head()

In [4]:
f = open('data/genre_share/ya_share.pkl', 'wb')
pickle.dump(ya_share, f)
f.close()

In [5]:
print(ya_reviews.shape)
print(ya_reviews.info())

(5000, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       5000 non-null   object
 1   book_id       5000 non-null   int64
 2   review_id     5000 non-null   object
 3   rating        5000 non-null   int64
 4   review_text   5000 non-null   object
 5   date_added    5000 non-null   object
 6   date_updated  5000 non-null   object
 7   read_at       5000 non-null   object
 8   started_at    5000 non-null   object
 9   n_votes       5000 non-null   int64
 10  n_comments    5000 non-null   int64
dtypes: int64(4), object(7)
memory usage: 429.8+ KB
None

## Book Info

In [6]:
ya_books = pd.read_json('data/Books/goodreads_books_young_adult.json', lines=True)
ya_books.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,,1,[147734],US,,"[{'count': '1057', 'name': 'to-read'}, {'count...",B0056A00P4,true,4.04,B0056A00P4,...,,,,https://www.goodreads.com/book/show/12182387-t...,https://s.gr-assets.com/assets/nophoto/book/11...,12182387,4,285263,"The Passion (Dark Visions, #3)","The Passion (Dark Visions, #3)"
1,,2,[425995],US,,"[{'count': '1010', 'name': 'to-read'}, {'count...",B006KLYIAG,true,3.80,B006KLYIAG,...,,,,https://www.goodreads.com/book/show/20135365-h...,https://s.gr-assets.com/assets/nophoto/book/11...,20135365,5,18450480,Hope's Daughter,Hope's Daughter
2,0698143760,17,[493993],US,,"[{'count': '1799', 'name': 'fantasy'}, {'count...",,true,3.80,,...,3,,2014,https://www.goodreads.com/book/show/21401181-h...,https://images.gr-assets.com/books/1394747643m...,21401181,33,24802827,"Half Bad (Half Life, #1)","Half Bad (Half Life, #1)"
3,,9,[176160],US,eng,"[{'count': '7173', 'name': 'to-read'}, {'count...",B0042JSOQC,true,4.35,B004IYJDXY,...,,,,https://www.goodreads.com/book/show/10099492-t...,https://s.gr-assets.com/assets/nophoto/book/11...,10099492,152,10800440,Twelfth Grade Kills (The Chronicles of Vladimi...,Twelfth Grade Kills (The Chronicles of Vladimi...
4,0990662616,428,[],US,eng,"[{'count': '9481', 'name': 'to-read'}, {'count...",,false,3.71,B00MW0MTGE,...,10,Special Edition,2014,https://www.goodreads.com/book/show/22642971-t...,https://images.gr-assets.com/books/1406979059m...,22642971,1525,42144295,The Body Electric,The Body Electric

In [7]:
ya_books.country_code.value_counts()

US    93398
Name: country_code, dtype: int64

In [8]:
ya_df = pd.merge(ya_reviews, ya_books, on='book_id')
print(ya_df.shape)
print(ya_df.columns)

(5000, 39)
Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments', 'isbn', 'text_reviews_count', 'series', 'country_code',
       'language_code', 'popular_shelves', 'asin', 'is_ebook',
       'average_rating', 'kindle_asin', 'similar_books', 'description',
       'format', 'link', 'authors', 'publisher', 'num_pages',
       'publication_day', 'isbn13', 'publication_month', 'edition_information',
       'publication_year', 'url', 'image_url', 'ratings_count', 'work_id',
       'title', 'title_without_series'],
      dtype='object')

## Genre Info

In [9]:
genres_df = pd.read_json('data/goodreads_book_genres_initial.json', lines=True)
genres_df.head()

   book_id                                             genres
0  5333265      {'history, historical fiction, biography': 1}
1  1333909  {'fiction': 219, 'history, historical fiction,...
2  7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
3  6066819  {'fiction': 555, 'romance': 23, 'mystery, thri...
4   287140                                 {'non-fiction': 3}

In [10]:
ya_df = pd.merge(ya_df, genres_df)
ya_df['Genre_Tag'] = 'ya'
ya_df.shape

(5000, 41)

## Author Info

In [11]:
authors_df = pd.read_json('data/goodreads_book_authors.json', lines=True)
authors_df.head()

,average_rating,author_id,text_reviews_count,name,ratings_count
0,3.98,604031,7,Ronald J. Fields,49
1,4.08,626222,28716,Anita Diamant,546796
2,3.92,10333,5075,Barbara Hambly,122118
3,3.68,9212,36262,Jennifer Weiner,888522
4,3.82,149918,96,Nigel Pennick,1740

In [12]:
ya_authors = list(ya_df.index.map(lambda x: ya_df.authors.iloc[x][0]))
list(ya_authors[0].values())[0]

'7536047'

In [13]:
ya_df['author_id'] = ya_df.index.map(lambda x: int(list(ya_authors[x].values())[0]))

In [14]:
authors_df = authors_df[['author_id', 'name']]

In [15]:
ya_df = pd.merge(ya_df, authors_df, on ='author_id')
print(ya_df.shape)

(5000, 43)

## Langauge Filtering

In [16]:
english = (ya_df.language_code == 'eng') | (ya_df.language_code == 'en-GB') | (ya_df.language_code == 'en-US') | (ya_df.language_code == 'en-CA')
ya_df = ya_df[english]
ya_df.shape

(4336, 43)

In [17]:
ya_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,...,url,image_url,ratings_count,work_id,title,title_without_series,genres,Genre_Tag,author_id,name
0,8a707cebc4bb349da13cc93d3a7120ef,18285437,a2b510e8be50f772785286edf170a6d3,5,I don't even know how to begin to describe how...,Thu Jul 09 11:33:37 -0700 2015,Sun Dec 20 12:31:17 -0800 2015,Sun Dec 20 12:33:30 -0800 2015,Sat Dec 19 00:00:00 -0800 2015,1,...,https://www.goodreads.com/book/show/18285437-r...,https://images.gr-assets.com/books/1392856339m...,4423,25764412,Rites of Passage,Rites of Passage,"{'young-adult': 332, 'romance': 108, 'fiction'...",ya,7536047,Joy N. Hensley
3,480564a6be18fc8d0046963a1b2f10dd,18304322,7cdca14c7507c7da3f67415b1324e310,5,I was having a hard time coming up with how to...,Sun Oct 11 18:09:53 -0700 2015,Sun Feb 19 21:17:58 -0800 2017,Sat Nov 21 14:12:08 -0800 2015,Wed Nov 18 00:00:00 -0800 2015,1,...,https://www.goodreads.com/book/show/18304322-d...,https://images.gr-assets.com/books/1424189465m...,23974,25795642,"Dumplin' (Dumplin', #1)","Dumplin' (Dumplin', #1)","{'young-adult': 1763, 'romance': 438, 'fiction...",ya,6433278,Julie Murphy
4,1d3c12ce945da5c32311673d55e79cad,18304322,6b3a195d88bf98ff02f3478a7ee33f76,2,I had a previous notion in my head that as a g...,Mon Oct 19 18:04:17 -0700 2015,Thu Dec 03 10:38:55 -0800 2015,Sat Oct 24 00:00:00 -0700 2015,Mon Oct 19 00:00:00 -0700 2015,0,...,https://www.goodreads.com/book/show/18304322-d...,https://images.gr-assets.com/books/1424189465m...,23974,25795642,"Dumplin' (Dumplin', #1)","Dumplin' (Dumplin', #1)","{'young-adult': 1763, 'romance': 438, 'fiction...",ya,6433278,Julie Murphy
5,38cd566a20de003104fa993af6f90f12,18304322,860c6ad4a8d09e902e1698641b1db6a8,5,Three cheers for Julie Murphy. I enjoyed this ...,Sat Sep 05 08:20:46 -0700 2015,Thu Dec 31 15:06:07 -0800 2015,Sun Sep 20 10:25:22 -0700 2015,Sat Sep 19 21:38:47 -0700 2015,0,...,https://www.goodreads.com/book/show/18304322-d...,https://images.gr-assets.com/books/1424189465m...,23974,25795642,"Dumplin' (Dumplin', #1)","Dumplin' (Dumplin', #1)","{'young-adult': 1763, 'romance': 438, 'fiction...",ya,6433278,Julie Murphy
6,207fc123d33d8e8c50e498352717254a,18304322,dedfdb558c4a735f68790afb0a6691cc,3,This was a great quick read.... \n I felt a co...,Wed Nov 04 10:42:47 -0800 2015,Thu Jan 07 20:02:49 -0800 2016,Thu Jan 07 00:00:00 -0800 2016,Sat Dec 26 00:00:00 -0800 2015,0,...,https://www.goodreads.com/book/show/18304322-d...,https://images.gr-assets.com/books/1424189465m...,23974,25795642,"Dumplin' (Dumplin', #1)","Dumplin' (Dumplin', #1)","{'young-adult': 1763, 'romance': 438, 'fiction...",ya,6433278,Julie Murphy

## Formatting

In [18]:
ya_short = ya_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
ya_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
ya_short = ya_short[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
ya_short.shape

(4336, 12)

In [19]:
empty = (ya_short.Text != '') & (ya_short.Text != ' ') & (ya_short.Rating != '') & (ya_short.Rating != ' ')
print(ya_short.shape)
print(ya_short[empty].shape)
ya_short = ya_short[empty]
print(ya_short.info())

(4336, 12)
(4334, 12)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4334 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Text           4334 non-null   object
 1   Rating         4334 non-null   int64
 2   Title          4334 non-null   object
 3   Author         4334 non-null   object
 4   Category       4334 non-null   object
 5   Genres         4334 non-null   object
 6   Language       4334 non-null   object
 7   Pages          4334 non-null   object
 8   Pub_Year       4334 non-null   object
 9   Avg_Rating     4334 non-null   float64
 10  Ratings_Count  4334 non-null   int64
 11  User_ID        4334 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 440.2+ KB
None

## Saving Info

In [20]:
f2 = open('data/genre_pkls/ya_short.pkl', 'wb')
pickle.dump(ya_short, f2)
f2.close()

# Mystery
## Reviews

In [21]:
mystery_reviews = pd.read_json('data/Reviews/excerpts_shuf/goodreads_reviews_mystery_thriller_crime_shuf.json', lines=True)
mystery_reviews.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,de733e4b8fce178a2442a5953acc6e9e,16070876,14158358d4eef4bf5ae0ab83c4f57767,5,5 stars are not even enough for me - that is w...,Wed Jun 17 05:33:07 -0700 2015,Wed Jun 24 05:14:37 -0700 2015,Wed Jun 24 05:14:37 -0700 2015,Fri Jun 19 00:00:00 -0700 2015,1,1
1,1c5bf71fdef3d22404808c819cff96d6,32508,155fbafad2b04ce8e13b499c2c5f34bf,4,Connelly can really write and this is a great ...,Sat Jun 15 10:54:18 -0700 2013,Sat Jun 15 10:55:39 -0700 2013,Sat Jun 15 10:55:39 -0700 2013,,2,0
2,812d3d72d606503f08be328de50e1fac,15796713,6efafdd6b8f7e460465196a6d7021634,2,It just got so confusing. The mystery was a si...,Wed Aug 15 17:52:10 -0700 2012,Fri Oct 14 22:00:15 -0700 2016,Sat Oct 15 22:00:15 -0700 2016,,0,0
3,08aa11ad088f6c71787b0bf07d28edf3,15904,c3d8a61ce526d352cf6c351ec3edf0de,2,"I hate giving a nice book two stars, especiall...",Tue Jan 17 20:39:35 -0800 2017,Sat Feb 18 18:15:46 -0800 2017,Sat Feb 18 00:00:00 -0800 2017,,0,0
4,546b3f555107500845c2de58bd174e7d,33987337,3d758ae15105001f04a0db3243b2daa7,5,*I received an e-ARC from NetGalley in exchang...,Wed May 24 07:18:46 -0700 2017,Fri Jun 02 12:09:13 -0700 2017,Sun May 28 16:39:29 -0700 2017,Fri May 26 07:59:19 -0700 2017,3,0

In [22]:
mystery_share = mystery_reviews.head()

In [23]:
f3 = open('data/genre_share/mystery_share.pkl', 'wb')
pickle.dump(mystery_share, f3)
f3.close()

In [24]:
print(mystery_reviews.shape)
print(mystery_reviews.info())

(5000, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       5000 non-null   object
 1   book_id       5000 non-null   int64
 2   review_id     5000 non-null   object
 3   rating        5000 non-null   int64
 4   review_text   5000 non-null   object
 5   date_added    5000 non-null   object
 6   date_updated  5000 non-null   object
 7   read_at       5000 non-null   object
 8   started_at    5000 non-null   object
 9   n_votes       5000 non-null   int64
 10  n_comments    5000 non-null   int64
dtypes: int64(4), object(7)
memory usage: 429.8+ KB
None

## Book Info

In [25]:
mystery_books = pd.read_json('data/Books/goodreads_books_mystery_thriller_crime.json', lines=True)
mystery_books.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,184737297X,15,[169353],US,,"[{'count': '159', 'name': 'to-read'}, {'count'...",,false,3.93,B007YLTG5I,...,4,,2009,https://www.goodreads.com/book/show/6066814-cr...,https://images.gr-assets.com/books/1328724803m...,6066814,186,6243149,"Crowner Royal (Crowner John Mystery, #13)","Crowner Royal (Crowner John Mystery, #13)"
1,,60,[1052227],US,eng,"[{'count': '54', 'name': 'currently-reading'},...",B01NCIKAQX,true,4.33,B01NCIKAQX,...,,,,https://www.goodreads.com/book/show/33394837-t...,https://images.gr-assets.com/books/1493114742m...,33394837,269,54143148,The House of Memory (Pluto's Snitch #2),The House of Memory (Pluto's Snitch #2)
2,,23,[953679],US,eng,"[{'count': '90', 'name': 'to-read'}, {'count':...",B01ALOWJN0,true,3.49,B01ALOWJN0,...,,,,https://www.goodreads.com/book/show/29074697-t...,https://s.gr-assets.com/assets/nophoto/book/11...,29074697,192,49305010,The Slaughtered Virgin of Zenopolis (Inspector...,The Slaughtered Virgin of Zenopolis (Inspector...
3,0854563903,8,[408775],US,,"[{'count': '51', 'name': 'to-read'}, {'count':...",,false,3.30,,...,12,Large Print,1975,https://www.goodreads.com/book/show/1902202.De...,https://s.gr-assets.com/assets/nophoto/book/11...,1902202,52,1903897,"Dead in the Morning (Patrick Grant, #1)","Dead in the Morning (Patrick Grant, #1)"
4,8838920931,3,[274410],US,ita,"[{'count': '48', 'name': 'to-read'}, {'count':...",,false,3.54,,...,,,2006,https://www.goodreads.com/book/show/9671977-ar...,https://images.gr-assets.com/books/1474788304m...,9671977,22,2152906,Aristotele e i misteri di Eleusi,Aristotele e i misteri di Eleusi

In [26]:
mystery_books.country_code.value_counts()

US    219235
Name: country_code, dtype: int64

In [27]:
mystery_df = pd.merge(mystery_reviews, mystery_books, on='book_id')
print(mystery_df.shape)
print(mystery_df.columns)

(5000, 39)
Index(['user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'started_at', 'n_votes',
       'n_comments', 'isbn', 'text_reviews_count', 'series', 'country_code',
       'language_code', 'popular_shelves', 'asin', 'is_ebook',
       'average_rating', 'kindle_asin', 'similar_books', 'description',
       'format', 'link', 'authors', 'publisher', 'num_pages',
       'publication_day', 'isbn13', 'publication_month', 'edition_information',
       'publication_year', 'url', 'image_url', 'ratings_count', 'work_id',
       'title', 'title_without_series'],
      dtype='object')

## Genre Info

In [28]:
mystery_df = pd.merge(mystery_df, genres_df)
mystery_df['Genre_Tag'] = 'mystery_thriller_crime'
mystery_df.shape

(5000, 41)

## Author Info

In [29]:
mystery_authors = list(mystery_df.index.map(lambda x: mystery_df.authors.iloc[x][0]))
list(mystery_authors[0].values())[0]

'3443298'

In [30]:
mystery_df['author_id'] = mystery_df.index.map(lambda x: int(list(mystery_authors[x].values())[0]))

In [31]:
mystery_df = pd.merge(mystery_df, authors_df, on='author_id')
print(mystery_df.shape)

(5000, 43)

## Langauge Filtering

In [32]:
english = (mystery_df.language_code == 'eng') | (mystery_df.language_code == 'en-GB') | (mystery_df.language_code == 'en-US') | (mystery_df.language_code == 'en-CA')
mystery_df = mystery_df[english]
mystery_df.shape

(3790, 43)

## Formatting

In [33]:
mystery_short = mystery_df[['user_id', 'rating', 'review_text', 'language_code', 'average_rating', 'num_pages', 'publication_year', 'ratings_count', 'title', 'genres', 'Genre_Tag', 'name']]
mystery_short.columns = ['User_ID', 'Rating', 'Text', 'Language', 'Avg_Rating', 'Pages', 'Pub_Year', 'Ratings_Count', 'Title', 'Genres', 'Category', 'Author']
mystery_short = mystery_short[[ 'Text', 'Rating', 'Title', 'Author', 'Category', 'Genres', 'Language', 'Pages', 'Pub_Year', 'Avg_Rating', 'Ratings_Count', 'User_ID']]
mystery_short.shape

(3790, 12)

In [34]:
empty = (mystery_short.Text != '') & (mystery_short.Text != ' ') & (mystery_short.Rating != '') & (mystery_short.Rating != ' ')
print(mystery_short.shape)
print(mystery_short[empty].shape)
mystery_short = mystery_short[empty]
print(mystery_short.info())

(3790, 12)
(3789, 12)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3789 entries, 1 to 4999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Text           3789 non-null   object
 1   Rating         3789 non-null   int64
 2   Title          3789 non-null   object
 3   Author         3789 non-null   object
 4   Category       3789 non-null   object
 5   Genres         3789 non-null   object
 6   Language       3789 non-null   object
 7   Pages          3789 non-null   object
 8   Pub_Year       3789 non-null   object
 9   Avg_Rating     3789 non-null   float64
 10  Ratings_Count  3789 non-null   int64
 11  User_ID        3789 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 384.8+ KB
None

## Saving Info

In [35]:
f4 = open('data/genre_pkls/mystery_short.pkl', 'wb')
pickle.dump(mystery_short, f4)
f4.close()